<center> <h1>Introduction to Pandas</h1></center>

In [6]:
import pandas as pd
import numpy as np

In [7]:
s=pd.Series()
print(s)

Series([], dtype: float64)

### Series through Arrays.

In [9]:
data=np.array(['a','b','c','d'])
s=pd.Series(data)
print(s)

0    a
1    b
2    c
3    d
dtype: object

In [11]:
s=pd.Series(data,index=[100,101,102,103])
print(s)
print()
print(s[100])

100    a
101    b
102    c
103    d
dtype: object

a

In [27]:
s=pd.Series(np.random.randn(5),index=['a','b','c','d','e'])
print(s)
print(s['c'])

a    2.302919
b    1.255157
c    0.242294
d   -0.147121
e   -0.351085
dtype: float64
0.24229353146101432

In [16]:
print(s.index)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

### Series through Dictionary

In [29]:
data={'x':10.,'y':20.,'z':30.}
s=pd.Series(data)
print(s)

x    10.0
y    20.0
z    30.0
dtype: float64

In [23]:
print(s['x':'z']) ## Slicing of the Series 
print(s['x':])
print(s[:'x'])
print(s[0])

x    10.0
y    20.0
z    30.0
dtype: float64
x    10.0
y    20.0
z    30.0
dtype: float64
x    10.0
dtype: float64
10.0

In [31]:
s=pd.Series(data,index=['x','y','z','f'])
print(s)
print("NaN is becuase there is no index f in the dictionary")

x    10.0
y    20.0
z    30.0
f     NaN
dtype: float64
NaN is becuase there is no index f in the dictionary

In [34]:
s=pd.Series(5,index=[1,2,3,4,5])
print(s)

1    5
2    5
3    5
4    5
5    5
dtype: int64

In [45]:
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s[:-3])
print(s[-3:])
print("Unknown Index throw error in case of List bu NaN in case of dictionary")

a    1
b    2
dtype: int64
c    3
d    4
e    5
dtype: int64
Unknown Index throw error in case of List bu NaN in case of dictionary

## Data-Frames

In [46]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [48]:
data=[1,2,3,4,5]
print(data)

df=pd.DataFrame(data)
print(df)

[1, 2, 3, 4, 5]
   0
0  1
1  2
2  3
3  4
4  5

In [50]:
data=[['Robin',26],['Kumar',25],['Rohit',22]]
print(data)
df=pd.DataFrame(data)
print(df)

[['Robin', 26], ['Kumar', 25], ['Rohit', 22]]
       0   1
0  Robin  26
1  Kumar  25
2  Rohit  22

In [54]:
df=pd.DataFrame(data,columns=['Name','Age'])
print(df)

    Name  Age
0  Robin   26
1  Kumar   25
2  Rohit   22

In [55]:
data=[['Robin',26,100],['Kumar',25,98],['Rohit',22,99]]
df=pd.DataFrame(data,columns=['Name','Age','Marks'])
print(df)

    Name  Age  Marks
0  Robin   26    100
1  Kumar   25     98
2  Rohit   22     99

In [57]:
print(df.Name)
print(df.Age)
print(df.Marks)

0    Robin
1    Kumar
2    Rohit
Name: Name, dtype: object
0    26
1    25
2    22
Name: Age, dtype: int64
0    100
1     98
2     99
Name: Marks, dtype: int64

In [59]:
print(df[['Name','Marks']])

    Name  Marks
0  Robin    100
1  Kumar     98
2  Rohit     99

### Data-Frame using Dictionary

In [62]:
data={'Name':['Kunal','Kumar'],'Age':[21,23]}
df=pd.DataFrame(data)
print(df)

    Name  Age
0  Kunal   21
1  Kumar   23

In [64]:
data=[{'a':1,'b':20},{'a':30,'b':40,'c':50}]
df=pd.DataFrame(data)
print(df)

    a   b     c
0   1  20   NaN
1  30  40  50.0

In [66]:
df=pd.DataFrame(data,index=[1,2],columns=['a','b'])
print(df)

    a   b
1   1  20
2  30  40

### Data-Frame from Dictionary of A Series

In [82]:
d={'one':pd.Series([1,2,3,4],index=['a','b','c','d']),'two':pd.Series([1,2,3],index=['a','b','c'])}
df=pd.DataFrame(d)
print(df)

   one  two
a    1  1.0
b    2  2.0
c    3  3.0
d    4  NaN

In [83]:
df['three']=pd.Series([1,2,3,4],index=['a','b','c','d'])
print(df)

   one  two  three
a    1  1.0      1
b    2  2.0      2
c    3  3.0      3
d    4  NaN      4

In [84]:
df['four']=df['one']+df['two']
print(df)

   one  two  three  four
a    1  1.0      1   2.0
b    2  2.0      2   4.0
c    3  3.0      3   6.0
d    4  NaN      4   NaN

In [85]:
## Deleting Column
del df['one']
print(df)

print(df.pop('two'))
print(df)

   two  three  four
a  1.0      1   2.0
b  2.0      2   4.0
c  3.0      3   6.0
d  NaN      4   NaN
a    1.0
b    2.0
c    3.0
d    NaN
Name: two, dtype: float64
   three  four
a      1   2.0
b      2   4.0
c      3   6.0
d      4   NaN

In [94]:
## droping Row
df=df.drop('b')
print(df)

   three  four
a      1   2.0
c      3   6.0
d      4   NaN