## DAY 5 : DBMS using Python

In [2]:
import MySQLdb

In [44]:
db = MySQLdb.connect(user="root",passwd="",db="pratice",host="localhost")

In [45]:
command = """CREATE TABLE STUDENT (
         FIRST_NAME  CHAR(20) NOT NULL,
         LAST_NAME  CHAR(20),
         AGE INT,  
         SEX CHAR(1),
         INCOME FLOAT )"""

In [46]:
cursor = db.cursor()

In [47]:
cursor.execute(command)

0

In [64]:
sql = """INSERT INTO STUDENT(FIRST_NAME,
         LAST_NAME, AGE, SEX, INCOME)
         VALUES ('Nishant', 'Arya', 22, 'N', 2000000)"""

In [65]:
cursor.close()
cursor = db.cursor()
cursor.execute(sql)

1

In [66]:
cursor.close()

In [67]:
cmd = """SELECT * FROM STUDENT"""
cursor = db.cursor()
cursor.execute(cmd)
x = cursor.fetchall()
print(x)
cursor.close()

(('Mac', 'Mohan', 20, 'M', 2000.0), ('Nishant', 'Arya', 22, 'N', 2000000.0))

In [68]:
db.commit()

## OS MODULE

In [59]:
import os

In [60]:
os.system(r"mkdir G:\kunalverma")

0

In [61]:
os.system(r"cd G:\kunalverma")

0

In [62]:
os.system(r"mkdir attmunda")

0

## Maths module

In [69]:
import math

In [71]:
print(math.ceil(22.9))

23

In [73]:
print(math.floor(22.9))

22

In [76]:
print(max(1,2,3,4,4))

4

In [80]:
print(min(1,2,3,4,4))

1

In [82]:
print(math.sqrt(4))

2.0

In [84]:
print(math.pow(2,3))

8.0

In [86]:
a = 2
b = 3
print("a = %d and b = %d"%(a,b))

a = 2 and b = 3

In [88]:
s = "dinesh"
print(s.capitalize())

Dinesh

In [89]:
print(s.lower())

dinesh

In [91]:
print(s.upper())

DINESH

In [92]:
s = "Hello ji ki hal eeeee"

In [103]:
print(s.center(122,"-"))

--------------------------------------------------Hello ji ki hal eeeee---------------------------------------------------

# Max and Min of string will check for ascii values of chars

In [105]:
p = "aA"
print(min(p))
print(max(p))

A
a

In [107]:
print(s.count("i"))

2

In [109]:
print(s.replace("ji", "jiii"))

Hello jiii ki hal eeeee

In [111]:
print(s)

Hello ji ki hal eeeee

In [113]:
i = "aAbBcC"
print(i.swapcase())

AaBbCc

## LIST operations

In [114]:
l = [1,2,3,4,5,6,7,8,9]

In [116]:
del l[1]
print(l)

[1, 4, 5, 6, 7, 8, 9]

In [119]:
b = [1,2,3,4]
c = [1,2,3]
print(b==c)

False