## DAY 6

In [1]:
import MySQLdb

In [5]:
db =  MySQLdb.connect(host = "localhost",user = "root",passwd = "",db ="" )

In [6]:
cursor = db.cursor()

In [7]:
cursor.execute("CREATE DATABASE ITRONIX")

1

In [10]:
db = MySQLdb.connect(host = "localhost",user = "root",passwd = "",db ="ITRONIX")

In [11]:
cursor = db.cursor()

In [14]:
cursor.execute("""CREATE TABLE STUDENTS(name varchar(30),age int,roll int,fee int)""")

0

In [16]:
cursor.execute("""INSERT INTO STUDENTS(name,age,roll,fee)
VALUES('Dinesh',22,53,48000)""")

1

In [17]:
db.commit()

In [18]:
cursor.execute("""INSERT INTO STUDENTS(name,age,roll,fee)
VALUES('Kunal',22,76,48000)""")
db.commit()

In [19]:
cursor.execute("""INSERT INTO STUDENTS(name,age,roll,fee)
VALUES('Bharpur',22,51,48000)""")
db.commit()

In [20]:
cursor.execute("""INSERT INTO STUDENTS(name,age,roll,fee)
VALUES('Nishant',21,80,48000)""")
db.commit()

In [21]:
cursor.execute("SELECT * FROM STUDENTS where age>21")

3

In [22]:
x = cursor.fetchall()

In [30]:
print(x)

(('Dinesh', 22, 53, 48000), ('Kunal', 22, 76, 48000), ('Bharpur', 22, 51, 48000))

In [31]:
for i in x:
    print(i[0])

Dinesh
Kunal
Bharpur

In [33]:
cursor.execute("UPDATE STUDENTS SET name='Nishu' where name = 'Nishant'")

1

In [34]:
db.commit()

In [35]:
cursor.execute("SELECT * FROM STUDENTS")
x = cursor.fetchall()

In [36]:
print(x)

(('Dinesh', 22, 53, 48000), ('Kunal', 22, 76, 48000), ('Bharpur', 22, 51, 48000), ('Nishu', 21, 80, 48000))

In [37]:
cursor.execute("""DELETE FROM STUDENTS where name = 'Nishu'""")

1

In [38]:
cursor.execute("SELECT * FROM STUDENTS")
x = cursor.fetchall()
print(x)

(('Dinesh', 22, 53, 48000), ('Kunal', 22, 76, 48000), ('Bharpur', 22, 51, 48000))

In [39]:
db.commit()

In [50]:
try:
    db =  MySQLdb.connect(host = "localhost",user = "root",passwd = "",db ="123" )
except BaseException:
    print("O database e haini LULU")

O database e haini LULU

## Multithreading

In [51]:
import time
import threading

In [52]:
def fun1():
    while True:
        print("Hi")
        time.sleep(1)
def fun2():
    while True:
        print("Hello")
        time.sleep(2)
def fun3():
    while True:
        print("Bye")
        time.sleep(3)

In [55]:
threading.Thread(target = fun1).start()
threading.Thread(target = fun2).start()
threading.Thread(target = fun3).start()

Hi
Hi
Hello
Bye
Hi
Hi
Hi
Hi
Hi
Hi
Hello
Hi
Hi
Hi
Bye
Hi
Hi
Hi
Hello
Hi
Hi
Hi
Hi
Hi
Hi
Hello
Bye
Hi
Hi
Hi
Hi
Hi
Hi
Hello
Hi
Hi
Hi
Bye
Hi
Hi
HiHello

Hi
Hi
Hi
Hi
Hi
Hello
Hi
Bye
Hi
Hi
Hi
Hi
Hi
Hello
Hi
Hi
Hi
Hi
Bye
Hi
Hi
Hello
Hi
Hi
Hi
Hi
Hi
Hello
Hi
Hi
Bye
Hi
Hi
Hi
Hi
HelloHi

Hi
Hi
Hi
Hi
Bye
Hi
HiHello

Hi
Hi
Hi
Hi
Hi
Hello
Hi
Hi
Bye
Hi
Hi
Hi
Hi
Hello
Hi
Hi
Hi