### <center>Case Study : IPL </center>
#### -----------------------------------------------------------------------------------------------------------------------------------------####
- Bowler with maximum Wickets
- Record of Each Bowler
- Record Of Score Made By Each Player
- Maximum 4's
- Maximum 6's

In [1]:
## importing the dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
ball_data = pd.read_csv(r"C:\Users\dell\Itronix\Datasets\Ball_by_Ball.csv")
match_data = pd.read_csv(r"C:\Users\dell\Itronix\Datasets\Match.csv")
player_data = pd.read_csv(r"C:\Users\dell\Itronix\Datasets\Player.csv")
player_match_data = pd.read_csv(r"C:\Users\dell\Itronix\Datasets\Player_Match.csv")
season_data = pd.read_csv(r"C:\Users\dell\Itronix\Datasets\Season.csv")
team_data = pd.read_csv(r"C:\Users\dell\Itronix\Datasets\Team.csv")

In [4]:
ball_data.head(n=3)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,335987,1,1,1,1,2,1,1,2,14,0,legbyes,1,,,
1,335987,1,1,2,1,2,2,2,1,14,0,,,,,
2,335987,1,1,3,1,2,2,2,1,14,0,wides,1,,,

In [5]:
match_data.head(n=3)

,Match_Id,Match_Date,Team_Name_Id,Opponent_Team_Id,Season_Id,Venue_Name,Toss_Winner_Id,Toss_Decision,IS_Superover,IS_Result,Is_DuckWorthLewis,Win_Type,Won_By,Match_Winner_Id,Man_Of_The_Match_Id,First_Umpire_Id,Second_Umpire_Id,City_Name,Host_Country
0,335987,18-Apr-08,2,1,1,M Chinnaswamy Stadium,2,field,0,1,0,by runs,140.0,1.0,2.0,470,477,Bangalore,India
1,335988,19-Apr-08,4,3,1,"Punjab Cricket Association Stadium, Mohali",3,bat,0,1,0,by runs,33.0,3.0,19.0,471,487,Chandigarh,India
2,335989,19-Apr-08,6,5,1,Feroz Shah Kotla,5,bat,0,1,0,by wickets,9.0,6.0,90.0,472,512,Delhi,India

In [6]:
player_data.head(n=3)

,Player_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN

In [8]:
player_match_data.head(n=3)

   Match_Id  Player_Id  Team_Id  Is_Keeper  Is_Captain
0    335987          1        1          0           1
1    335987          2        1          0           0
2    335987          3        1          0           0

In [9]:
season_data.head(n=5)

   Season_Id  Season_Year  Orange_Cap_Id  Purple_Cap_Id  Man_of_the_Series_Id
0          1         2008            100            102                    32
1          2         2009             18             61                    53
2          3         2010            133            131                   133
3          4         2011            162            194                   162
4          5         2012            162            190                   315

In [10]:
team_data.head(n=5)

   Team_Id                    Team_Name Team_Short_Code
0        1        Kolkata Knight Riders             KKR
1        2  Royal Challengers Bangalore             RCB
2        3          Chennai Super Kings             CSK
3        4              Kings XI Punjab            KXIP
4        5             Rajasthan Royals              RR

## Counting and Removing Null Rows

In [207]:
print(round(ball_data.isnull().sum() *100/len(ball_data)))

Match_Id                    0.0
Innings_Id                  0.0
Over_Id                     0.0
Ball_Id                     0.0
Team_Batting_Id             0.0
Team_Bowling_Id             0.0
Striker_Id                  0.0
Striker_Batting_Position    0.0
Non_Striker_Id              0.0
Bowler_Id                   0.0
Batsman_Scored              0.0
Extra_Type                  0.0
Extra_Runs                  0.0
Player_dissimal_Id          0.0
Dissimal_Type               0.0
Fielder_Id                  0.0
dtype: float64

In [12]:
print(round(season_data.isnull().sum() *100/len(season_data),2))

Season_Id               0.0
Season_Year             0.0
Orange_Cap_Id           0.0
Purple_Cap_Id           0.0
Man_of_the_Series_Id    0.0
dtype: float64

In [13]:
print(round(match_data.isnull().sum() *100/len(match_data),2))

Match_Id               0.00
Match_Date             0.00
Team_Name_Id           0.00
Opponent_Team_Id       0.00
Season_Id              0.00
Venue_Name             0.00
Toss_Winner_Id         0.00
Toss_Decision          0.00
IS_Superover           0.00
IS_Result              0.00
Is_DuckWorthLewis      0.00
Win_Type               0.00
Won_By                 1.56
Match_Winner_Id        0.52
Man_Of_The_Match_Id    0.52
First_Umpire_Id        0.00
Second_Umpire_Id       0.00
City_Name              0.00
Host_Country           0.00
dtype: float64

In [14]:
print(round(player_data.isnull().sum() *100/len(player_data),2))

Player_Id         0.00
Player_Name       0.00
DOB               9.94
Batting_Hand      9.94
Bowling_Skill    18.36
Country           0.00
Is_Umpire         0.00
Unnamed: 7       97.71
dtype: float64

In [15]:
print(round(player_match_data.isnull().sum() *100/len(player_match_data),2))

Match_Id      0.0
Player_Id     0.0
Team_Id       0.0
Is_Keeper     0.0
Is_Captain    0.0
dtype: float64

## Finding Maximum Wickets and Printing Wickets OF each Player

In [166]:
temp = ball_data[(ball_data[ "Dissimal_Type" ] != "run out") & (ball_data[ "Dissimal_Type" ] != "retired hurt") & (ball_data[ "Dissimal_Type" ] != " ") ]
print(type(temp))

<class 'pandas.core.frame.DataFrame'>

In [167]:
temp.head(n=3)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
33,335987,1,6,2,1,2,1,1,2,15,0,,,1,caught,9
74,335987,1,13,1,1,2,3,3,2,9,0,,,3,caught,14
106,335987,1,18,1,1,2,4,4,2,13,0,,,4,caught,10

In [172]:
temp.get_group(1)

,Match_Id,Innings_Id,Over_Id,Ball_Id,Team_Batting_Id,Team_Bowling_Id,Striker_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
174,335987,2,8,5,2,1,11,6,10,1,0,,,11,caught,83
210,335987,2,14,1,2,1,15,10,14,1,0,,,15,bowled,
6768,336015,2,10,1,2,1,6,4,11,1,0,,,6,bowled,
7680,336019,2,9,1,8,1,58,4,57,1,0,,,58,caught,63
7719,336019,2,15,4,8,1,59,7,54,1,0,,,59,caught,128
10527,336032,2,10,5,5,1,32,4,33,1,0,,,32,bowled,
14516,392191,1,7,2,4,1,29,3,161,1,0,,,29,caught,83
14518,392191,1,7,4,4,1,161,1,26,1,0,,,161,caught,2

In [153]:
d = {}
def find_wickets(temp):
    for name,group in temp:
        print("Wicket taken by ",player_data[player_data["Player_Id"] == name]["Player_Name"].iloc[0]," :",len(group))
        d[player_data[player_data["Player_Id"] == name]["Player_Name"].iloc[0]] = [len(group)]
    name = list(d.keys())
    w = np.array(list(d.values()))
    w = w.reshape((len(w),))
    i = np.argmax(w)
    print()
    print("===============================================================================")
    print("Maximum Wickets by ",name[i]," :",w[i])

In [154]:
find_wickets(temp)

Wicket taken by  SC Ganguly  : 8
Wicket taken by  DJ Hussey  : 5
Wicket taken by  Mohammad Hafeez  : 2
Wicket taken by  V Kohli  : 4
Wicket taken by  JH Kallis  : 44
Wicket taken by  CL White  : 1
Wicket taken by  B Akhil  : 6
Wicket taken by  AA Noffke  : 1
Wicket taken by  P Kumar  : 68
Wicket taken by  Z Khan  : 75
Wicket taken by  SB Joshi  : 1
Wicket taken by  SK Raina  : 22
Wicket taken by  JDP Oram  : 9
Wicket taken by  JR Hopes  : 14
Wicket taken by  Yuvraj Singh  : 30
Wicket taken by  IK Pathan  : 69
Wicket taken by  YK Pathan  : 36
Wicket taken by  SR Watson  : 73
Wicket taken by  RA Jadeja  : 59
Wicket taken by  D Salunkhe  : 1
Wicket taken by  SK Warne  : 57
Wicket taken by  SK Trivedi  : 46
Wicket taken by  V Sehwag  : 6
Wicket taken by  S Dhawan  : 1
Wicket taken by  ST Jayasuriya  : 13
Wicket taken by  DJ Thornely  : 3
Wicket taken by  AM Nayar  : 8
Wicket taken by  SM Pollock  : 11
Wicket taken by  Harbhajan Singh  : 107
Wicket taken by  AC Gilchrist  : 1
Wicket taken by  Y Venugopal Rao  : 6
Wicket taken by  A Symonds  : 20
Wicket taken by  RG Sharma  : 15
Wicket taken by  SB Styris  : 8
Wicket taken by  SB Bangar  : 4
Wicket taken by  WPUJC Vaas  : 18
Wicket taken by  RP Singh  : 74
Wicket taken by  LR Shukla  : 13
Wicket taken by  B Lee  : 15
Wicket taken by  PP Chawla  : 101
Wicket taken by  WA Mota  : 4
Wicket taken by  Shahid Afridi  : 9
Wicket taken by  DJ Bravo  : 98
Wicket taken by  MA Khote  : 2
Wicket taken by  A Nehra  : 81
Wicket taken by  Pankaj Singh  : 4
Wicket taken by  S Sreesanth  : 36
Wicket taken by  VRV Singh  : 12
Wicket taken by  DS Kulkarni  : 67
Wicket taken by  R Vinay Kumar  : 71
Wicket taken by  AB Agarkar  : 26
Wicket taken by  M Kartik  : 25
Wicket taken by  I Sharma  : 50
Wicket taken by  AM Rahane  : 1
Wicket taken by  Shoaib Malik  : 2
Wicket taken by  MK Tiwary  : 1
Wicket taken by  R Bhatia  : 52
Wicket taken by  MF Maharoof  : 27
Wicket taken by  VY Mahesh  : 18
Wicket taken by  DW Steyn  : 66
Wicket taken by  DNT Zoysa  : 2
Wicket taken by  D Kalyankrishna  : 2
Wicket taken by  Sohail Tanvir  : 22
Wicket taken by  BJ Hodge  : 16
Wicket taken by  Umar Gul  : 12
Wicket taken by  AB Dinda  : 54
Wicket taken by  S Vidyut  : 1
Wicket taken by  JA Morkel  : 71
Wicket taken by  DB Ravi Teja  : 1
Wicket taken by  RR Raje  : 6
Wicket taken by  PJ Sangwan  : 29
Wicket taken by  Mohammad Asif  : 8
Wicket taken by  GD McGrath  : 12
Wicket taken by  Joginder Sharma  : 12
Wicket taken by  MS Gony  : 30
Wicket taken by  M Muralitharan  : 48
Wicket taken by  M Ntini  : 7
Wicket taken by  A Kumble  : 45
Wicket taken by  MM Patel  : 55
Wicket taken by  PP Ojha  : 76
Wicket taken by  TM Dilshan  : 5
Wicket taken by  A Mishra  : 100
Wicket taken by  AD Mascarenhas  : 12
Wicket taken by  Iqbal Abdulla  : 34
Wicket taken by  PM Sarvesh Kumar  : 1
Wicket taken by  DP Vijaykumar  : 4
Wicket taken by  Shoaib Akhtar  : 5
Wicket taken by  DR Smith  : 22
Wicket taken by  SD Chitnis  : 2
Wicket taken by  CRD Fernando  : 17
Wicket taken by  L Balaji  : 61
Wicket taken by  RR Powar  : 13
Wicket taken by  JP Duminy  : 22
Wicket taken by  A Flintoff  : 2
Wicket taken by  T Thushara  : 8
Wicket taken by  JD Ryder  : 7
Wicket taken by  KP Pietersen  : 7
Wicket taken by  T Henderson  : 1
Wicket taken by  Kamran Khan  : 10
Wicket taken by  RS Bopara  : 11
Wicket taken by  CH Gayle  : 18
Wicket taken by  MC Henriques  : 33
Wicket taken by  FH Edwards  : 5
Wicket taken by  KV Sharma  : 32
Wicket taken by  PC Valthaty  : 7
Wicket taken by  BAW Mendis  : 7
Wicket taken by  DL Vettori  : 23
Wicket taken by  RE van der Merwe  : 20
Wicket taken by  TL Suman  : 6
Wicket taken by  Shoaib Ahmed  : 5
Wicket taken by  GR Napier  : 1
Wicket taken by  KP Appanna  : 3
Wicket taken by  LA Carseldine  : 1
Wicket taken by  SM Harwood  : 3
Wicket taken by  SB Jakati  : 38
Wicket taken by  RJ Harris  : 36
Wicket taken by  D du Preez  : 4
Wicket taken by  M Morkel  : 50
Wicket taken by  AD Mathews  : 19
Wicket taken by  J Botha  : 14
Wicket taken by  C Nanda  : 2
Wicket taken by  SL Malinga  : 120
Wicket taken by  A Singh  : 18
Wicket taken by  AB McDonald  : 5
Wicket taken by  Y Nagar  : 4
Wicket taken by  R Ashwin  : 79
Wicket taken by  Jaskaran Singh  : 6
Wicket taken by  R Sathish  : 3
Wicket taken by  R McLaren  : 11
Wicket taken by  A Uniyal  : 2
Wicket taken by  YA Abdulla  : 15
Wicket taken by  JM Kemp  : 3
Wicket taken by  S Tyagi  : 6
Wicket taken by  SE Bond  : 9
Wicket taken by  KA Pollard  : 37
Wicket taken by  S Ladda  : 5
Wicket taken by  DP Nannes  : 24
Wicket taken by  S Narwal  : 5
Wicket taken by  Bipul Sharma  : 14
Wicket taken by  UT Yadav  : 48
Wicket taken by  J Theron  : 9
Wicket taken by  SJ Srivastava  : 14
Wicket taken by  R Sharma  : 24
Wicket taken by  SW Tait  : 16
Wicket taken by  PD Collingwood  : 5
Wicket taken by  CK Langeveldt  : 13
Wicket taken by  VS Malik  : 6
Wicket taken by  A Mithun  : 7
Wicket taken by  AP Dole  : 5
Wicket taken by  AN Ahmed  : 12
Wicket taken by  DE Bollinger  : 30
Wicket taken by  MR Marsh  : 16
Wicket taken by  STR Binny  : 12
Wicket taken by  Harmeet Singh  : 19
Wicket taken by  DT Christian  : 11
Wicket taken by  RV Gomez  : 5
Wicket taken by  AL Menaria  : 2
Wicket taken by  WD Parnell  : 22
Wicket taken by  JJ van der Wath  : 3
Wicket taken by  R Ninan  : 3
Wicket taken by  S Aravind  : 40
Wicket taken by  SB Wagh  : 5
Wicket taken by  AC Thomas  : 11
Wicket taken by  JEC Franklin  : 4
Wicket taken by  Shakib Al Hasan  : 31
Wicket taken by  S Randiv  : 6
Wicket taken by  NLTC Perera  : 23
Wicket taken by  JE Taylor  : 6
Wicket taken by  J Syed Mohammad  : 6
Wicket taken by  RN ten Doeschate  : 1
Wicket taken by  AG Murtaza  : 9
Wicket taken by  L Ablish  : 3
Wicket taken by  S Nadeem  : 17
Wicket taken by  P Parameswaran  : 4
Wicket taken by  VR Aaron  : 23
Wicket taken by  AA Chavan  : 1
Wicket taken by  ND Doshi  : 2
Wicket taken by  B Kumar  : 69
Wicket taken by  BA Bhatt  : 10
Wicket taken by  GJ Maxwell  : 3
Wicket taken by  KK Cooper  : 14
Wicket taken by  JP Faulkner  : 42
Wicket taken by  HV Patel  : 22
Wicket taken by  Ankit Sharma  : 8
Wicket taken by  SP Narine  : 50
Wicket taken by  GB Hogg  : 13
Wicket taken by  Azhar Mahmood  : 7
Wicket taken by  P Negi  : 7
Wicket taken by  KMDN Kulasekara  : 1
Wicket taken by  A Ashish Reddy  : 4
Wicket taken by  Gurkeerat Singh  : 5
Wicket taken by  P Awana  : 17
Wicket taken by  AD Russell  : 30
Wicket taken by  A Chandila  : 4
Wicket taken by  R Shukla  : 2
Wicket taken by  AS Rajpoot  : 3
Wicket taken by  JD Unadkat  : 27
Wicket taken by  Mohammed Shami  : 13
Wicket taken by  BMAJ Mendis  : 1
Wicket taken by  R Rampaul  : 9
Wicket taken by  CH Morris  : 33
Wicket taken by  SMSM Senanayake  : 5
Wicket taken by  R Dhawan  : 18
Wicket taken by  MG Johnson  : 46
Wicket taken by  LJ Wright  : 2
Wicket taken by  IC Pandey  : 18
Wicket taken by  DJG Sammy  : 11
Wicket taken by  KW Richardson  : 18
Wicket taken by  MM Sharma  : 67
Wicket taken by  Parvez Rasool  : 4
Wicket taken by  Sandeep Sharma  : 54
Wicket taken by  S Kaul  : 6
Wicket taken by  Sachin Baby  : 2
Wicket taken by  PV Tambe  : 28
Wicket taken by  NM Coulter-Nile  : 21
Wicket taken by  CJ Anderson  : 5
Wicket taken by  AR Patel  : 43
Wicket taken by  JJ Bumrah  : 23
Wicket taken by  JDS Neesham  : 1
Wicket taken by  TG Southee  : 19
Wicket taken by  MA Starc  : 34
Wicket taken by  Shivam Sharma  : 4
Wicket taken by  YS Chahal  : 56
Wicket taken by  LMP Simmons  : 1
Wicket taken by  BCJ Cutting  : 6
Wicket taken by  Imran Tahir  : 29
Wicket taken by  BE Hendricks  : 9
Wicket taken by  S Gopal  : 7
Wicket taken by  M de Lange  : 2
Wicket taken by  R Tewatia  : 3
Wicket taken by  JO Holder  : 5
Wicket taken by  Karanveer Singh  : 12
Wicket taken by  DJ Hooda  : 4
Wicket taken by  Anureet Singh  : 17
Wicket taken by  J Suchith  : 10
Wicket taken by  RG More  : 1
Wicket taken by  HH Pandya  : 4
Wicket taken by  D Wiese  : 16
Wicket taken by  MJ McClenaghan  : 35
Wicket taken by  DJ Muthuswami  : 4
Wicket taken by  PJ Cummins  : 2
Wicket taken by  SN Thakur  : 1
Wicket taken by  CR Brathwaite  : 7
Wicket taken by  MP Stoinis  : 8
Wicket taken by  P Sahu  : 3
Wicket taken by  KH Pandya  : 6
Wicket taken by  KJ Abbott  : 2
Wicket taken by  M Ashwin  : 7
Wicket taken by  KC Cariappa  : 4
Wicket taken by  J Yadav  : 4
Wicket taken by  BB Sran  : 14
Wicket taken by  A Zampa  : 12
Wicket taken by  S Kaushik  : 6
Wicket taken by  CJ Jordan  : 11
Wicket taken by  P Amarnath  : 7
Wicket taken by  B Geeves  : 1
Wicket taken by  Gagandeep Singh  : 3
Wicket taken by  A Nel  : 1
Wicket taken by  AM Salvi  : 7
Wicket taken by  SS Sarkar  : 1
Wicket taken by  Anand Rajan  : 4
Wicket taken by  SS Mundhe  : 1
Wicket taken by  BW Hilfenhaus  : 8
Wicket taken by  S Badree  : 2
Wicket taken by  P Suyal  : 2
Wicket taken by  K Santokie  : 3
Wicket taken by  JW Hastings  : 3
Wicket taken by  TA Boult  : 10
Wicket taken by  GS Sandhu  : 1
Wicket taken by  Mustafizur Rahman  : 17
Wicket taken by  AF Milne  : 1
Wicket taken by  Kuldeep Yadav  : 6
Wicket taken by  T Shamsi  : 3
Wicket taken by  SM Boland  : 2

===============================================================================
Maximum Wickets by  SL Malinga  : 120

### Record Of Score Made By Each Player

In [233]:
temp3 = player_data.rename(columns = {"Player_Id":"Striker_Id"})

In [234]:
temp3.head(n=3)

,Striker_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN
1,2,BB McCullum,27-Sep-81,Right_Hand,Right-arm medium,New Zealand,0,NaN
2,3,RT Ponting,19-Dec-74,Right_Hand,Right-arm medium,Australia,0,NaN

In [235]:
ball_data = ball_data.replace('Do_nothing',0)
ball_data = ball_data.replace(' ',0)

batsman = ball_data.astype({"Batsman_Scored":int})
# batsman = batsman.groupby("Striker_Id")

In [236]:
temp2 = pd.merge(temp3,ball_data,on = "Striker_Id",how = "inner")

In [237]:
temp2 = temp2.astype({"Batsman_Scored":int})

In [238]:
temp2.head(n=3)

,Striker_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7,Match_Id,Innings_Id,...,Team_Bowling_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
0,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN,335987,1,...,2,1,2,14,0,legbyes,1,0,0,0
1,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN,335987,1,...,2,1,2,14,0,0,0,0,0,0
2,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN,335987,1,...,2,1,2,14,0,0,0,0,0,0

In [239]:
temp2 = temp2.groupby(["Striker_Id","Player_Name"])
# batsman = ball_data.astype({"Batsman_Scored":int})

#### Score Data of Each player

In [262]:
print("Score of Each Player is\n =====================================================================\n")
ds = temp2["Batsman_Scored"].agg((np.sum))
print(ds)

Score of Each Player is
 =====================================================================

Striker_Id  Player_Name
1           SC Ganguly         1349
2           BB McCullum        2435
3           RT Ponting           91
4           DJ Hussey          1322
5           Mohammad Hafeez      64
6           R Dravid           2170
7           W Jaffer            130
8           V Kohli            4105
9           JH Kallis          2427
10          CL White            971
11          MV Boucher          394
12          B Akhil              76
13          AA Noffke             9
14          P Kumar             332
15          Z Khan              113
16          SB Joshi              6
17          PA Patel           1927
18          ML Hayden          1107
19          MEK Hussey         1977
20          MS Dhoni           3270
21          SK Raina           4106
22          JDP Oram            106
23          S Badrinath        1441
24          K Goel              218
25          JR Hopes            417
26          KC Sangakkara      1687
27          Yuvraj Singh       2339
28          SM Katich           237
29          IK Pathan          1148
30          T Kohli              11
                               ...
405         PJ Cummins            0
406         SN Thakur             7
407         JC Buttler          255
408         CR Brathwaite        83
409         MP Stoinis          146
410         Ishan Kishan         42
411         C Munro              30
412         P Sahu               19
413         KH Pandya           237
414         AD Nath              20
415         MJ Guptill           57
416         KJ Abbott            13
417         TM Head              54
418         M Ashwin              0
419         NS Naik              23
420         RR Pant             198
421         SW Billings          88
422         KC Cariappa          13
423         PSP Handscomb         6
424         Swapnil Singh         0
425         J Yadav               6
426         UT Khawaja          127
427         HM Amla             157
428         F Behardien          14
429         BB Sran               4
430         A Zampa               0
431         N Rana              104
432         S Kaushik             0
433         ER Dwivedi           24
434         CJ Jordan             3
Name: Batsman_Scored, Length: 434, dtype: int32

In [263]:
ds2 = pd.DataFrame(ds)

In [264]:
ds2.head(n=5)

                            Batsman_Scored
Striker_Id Player_Name
1          SC Ganguly                 1349
2          BB McCullum                2435
3          RT Ponting                   91
4          DJ Hussey                  1322
5          Mohammad Hafeez              64

## Highest Score

In [265]:
print("Highest score :\n", ds2[ds2["Batsman_Scored"] == max(ds2["Batsman_Scored"])])

Highest score :
                         Batsman_Scored
Striker_Id Player_Name
21         SK Raina               4106

### Maximum 4s and Number of 4s by each player

In [267]:
mdata = pd.merge(temp3,ball_data,on = "Striker_Id",how = "inner")
mdata = mdata.astype({"Batsman_Scored":int})
fours = mdata[mdata["Batsman_Scored"] == 4]

In [268]:
fours.head(n=3)

,Striker_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7,Match_Id,Innings_Id,...,Team_Bowling_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
5,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN,335987,1,...,2,1,2,13,4,0,0,0,0,0
8,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN,335987,1,...,2,1,2,14,4,0,0,0,0,0
36,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN,335991,2,...,8,4,4,59,4,0,0,0,0,0

In [269]:
fours = fours.groupby(["Striker_Id","Player_Name"])

In [273]:
fours = fours["Batsman_Scored"].agg(np.size)
print(fours)

Striker_Id  Player_Name
1           SC Ganguly         137
2           BB McCullum        248
3           RT Ponting           5
4           DJ Hussey           90
5           Mohammad Hafeez      7
6           R Dravid           268
7           W Jaffer            14
8           V Kohli            360
9           JH Kallis          255
10          CL White            76
11          MV Boucher          32
12          B Akhil              5
13          AA Noffke            1
14          P Kumar             22
15          Z Khan              11
17          PA Patel           248
18          ML Hayden          121
19          MEK Hussey         198
20          MS Dhoni           236
21          SK Raina           360
22          JDP Oram             6
23          S Badrinath        154
24          K Goel              17
25          JR Hopes            49
26          KC Sangakkara      195
27          Yuvraj Singh       175
28          SM Katich           25
29          IK Pathan           88
31          YK Pathan          231
32          SR Watson          251
                              ...
391         JO Holder            4
392         Karanveer Singh      1
393         SS Iyer             43
394         DJ Hooda            15
396         KS Williamson       15
397         SA Abbott            1
398         J Suchith            4
400         HH Pandya           13
401         D Wiese             12
402         SN Khan             19
403         MJ McClenaghan       2
406         SN Thakur            1
407         JC Buttler          23
408         CR Brathwaite        6
409         MP Stoinis          13
410         Ishan Kishan         5
411         C Munro              3
412         P Sahu               1
413         KH Pandya           22
414         AD Nath              1
415         MJ Guptill           3
417         TM Head              3
419         NS Naik              1
420         RR Pant             19
421         SW Billings          4
426         UT Khawaja          14
427         HM Amla             20
428         F Behardien          2
431         N Rana               7
433         ER Dwivedi           2
Name: Batsman_Scored, Length: 346, dtype: int32

In [274]:
fours = pd.DataFrame(fours)

### Most Number of 4s

In [275]:
print("Highest score :\n", fours[fours["Batsman_Scored"] == max(fours["Batsman_Scored"])])

Highest score :
                         Batsman_Scored
Striker_Id Player_Name
40         G Gambhir               422

## Most number of 6 and number of 6

In [282]:
sixes = mdata[mdata["Batsman_Scored"] == 6]

In [283]:
sixes.head(n=3)

,Striker_Id,Player_Name,DOB,Batting_Hand,Bowling_Skill,Country,Is_Umpire,Unnamed: 7,Match_Id,Innings_Id,...,Team_Bowling_Id,Striker_Batting_Position,Non_Striker_Id,Bowler_Id,Batsman_Scored,Extra_Type,Extra_Runs,Player_dissimal_Id,Dissimal_Type,Fielder_Id
90,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN,336005,2,...,5,2,4,39,6,0,0,0,0,0
98,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN,336005,2,...,5,2,4,126,6,0,0,0,0,0
186,1,SC Ganguly,8-Jul-72,Left_Hand,Right-arm medium,India,0,NaN,336019,1,...,8,2,4,131,6,0,0,0,0,0

In [284]:
sixes = sixes.groupby(["Striker_Id","Player_Name"])

In [286]:
df = sixes["Batsman_Scored"].agg(np.size)

### 6s Scored by Each player

In [289]:
print("6 Score by Each player\n===================================================================")
print(df)

6 Score by Each player
===================================================================
Striker_Id  Player_Name
1           SC Ganguly          42
2           BB McCullum        106
3           RT Ponting           2
4           DJ Hussey           60
5           Mohammad Hafeez      2
6           R Dravid            28
7           W Jaffer             3
8           V Kohli            148
9           JH Kallis           44
10          CL White            38
11          MV Boucher          13
12          B Akhil              5
14          P Kumar             17
15          Z Khan               2
17          PA Patel            27
18          ML Hayden           44
19          MEK Hussey          52
20          MS Dhoni           140
21          SK Raina           161
22          JDP Oram             5
23          S Badrinath         28
24          K Goel               9
25          JR Hopes            11
26          KC Sangakkara       27
27          Yuvraj Singh       133
28          SM Katich            8
29          IK Pathan           38
30          T Kohli              1
31          YK Pathan          143
32          SR Watson          121
                              ...
383         LMP Simmons         36
384         VH Zol               1
385         BCJ Cutting          7
390         R Tewatia            1
391         JO Holder            2
393         SS Iyer             22
394         DJ Hooda            16
395         Anureet Singh        1
396         KS Williamson        1
397         SA Abbott            1
398         J Suchith            2
400         HH Pandya            8
401         D Wiese              4
402         SN Khan              6
403         MJ McClenaghan       5
407         JC Buttler          11
408         CR Brathwaite        8
409         MP Stoinis           4
412         P Sahu               1
413         KH Pandya           13
415         MJ Guptill           3
416         KJ Abbott            1
417         TM Head              2
420         RR Pant              6
421         SW Billings          4
422         KC Cariappa          1
426         UT Khawaja           3
427         HM Amla              4
431         N Rana               8
433         ER Dwivedi           2
Name: Batsman_Scored, Length: 281, dtype: int32

## Maximum number of 6

In [290]:
df = pd.DataFrame(df)

In [291]:
df.head(n=3)

                        Batsman_Scored
Striker_Id Player_Name
1          SC Ganguly               42
2          BB McCullum             106
3          RT Ponting                2

In [292]:
print("Maximum Number of 6 are : \n",df[df["Batsman_Scored"] == max(df["Batsman_Scored"])])

Maximum Number of 6 are :
                         Batsman_Scored
Striker_Id Player_Name
162        CH Gayle                252