## Assignment

- Longest Phone call
- How many seconds of phone call recorded total
- Entry in each month
- First Entry of each Month
- Sum of the durations of per month
- Sum of duration of call to each network
- How many calls,sms,data in each month
- Call, sms , Data spit by network type per Month

In [1]:
import numpy as np

In [2]:
data = np.genfromtxt("phone_data.csv",delimiter=",",dtype=str)

In [3]:
print(data[:5])

[['index' 'date' 'duration' 'item' 'month' 'network' 'network_type']
 ['0' '15/10/14 06:58' '34.429' 'data' '2014-11' 'data' 'data']
 ['1' '15/10/14 06:58' '13' 'call' '2014-11' 'Vodafone' 'mobile']
 ['2' '15/10/14 14:46' '23' 'call' '2014-11' 'Meteor' 'mobile']
 ['3' '15/10/14 14:48' '4' 'call' '2014-11' 'Tesco' 'mobile']]

In [4]:
data = data[1:]

In [17]:
temp = data[data[:,3]=="call"]
temp2 = np.array(temp[:,2],dtype=float)
print(temp[np.argmax(temp2)])

['816' '04/03/15 12:29' '10528' 'call' '2015-03' 'landline' 'landline']

In [18]:
print("Total time spent on call is ",np.sum(temp2))

Total time spent on call is  92321.0

In [37]:
import pandas as pd

In [73]:
months = data[:,1]
months = pd.to_datetime(months)
print(months)
months = np.array(months, dtype=np.datetime64)
print(months.shape)
m = months.astype('datetime64[M]')
print(m.shape)
u = np.unique(m)
print(u)

DatetimeIndex(['2014-10-15 06:58:00', '2014-10-15 06:58:00',
               '2014-10-15 14:46:00', '2014-10-15 14:48:00',
               '2014-10-15 17:27:00', '2014-10-15 18:55:00',
               '2014-10-16 06:58:00', '2014-10-16 15:01:00',
               '2014-10-16 15:12:00', '2014-10-16 15:30:00',
               ...
               '2015-08-03 06:58:00', '2015-09-03 06:58:00',
               '2015-10-03 06:58:00', '2015-11-03 06:58:00',
               '2015-12-03 06:58:00', '2015-03-13 00:38:00',
               '2015-03-13 00:39:00', '2015-03-13 06:58:00',
               '2015-03-14 00:13:00', '2015-03-14 00:16:00'],
              dtype='datetime64[ns]', length=830, freq=None)
(830,)
(830,)
['2014-01' '2014-02' '2014-03' '2014-04' '2014-05' '2014-06' '2014-07'
 '2014-08' '2014-09' '2014-10' '2014-11' '2014-12' '2015-01' '2015-02'
 '2015-03' '2015-04' '2015-05' '2015-06' '2015-07' '2015-08' '2015-09'
 '2015-10' '2015-11' '2015-12']

In [67]:
d = {}
for i in u:
    d[i] = data[m==i]

In [70]:
print(d[u[0]])

[['111' '01/11/14 06:58' '34.429' 'data' '2014-11' 'data' 'data']
 ['112' '01/11/14 15:13' '955' 'call' '2014-11' 'Vodafone' 'mobile']
 ['113' '01/11/14 17:54' '4' 'call' '2014-11' 'Tesco' 'mobile']
 ['338' '01/12/14 06:58' '34.429' 'data' '2014-12' 'data' 'data']
 ['339' '01/12/14 12:51' '1' 'sms' '2014-12' 'Three' 'mobile']
 ['340' '01/12/14 12:59' '1' 'sms' '2014-12' 'Three' 'mobile']]

In [75]:
data2 = data
months = data[:,1]
months = pd.to_datetime(months)
data2[...,1] = data2[...,1].astype("datetime64[M]")

ValueError: Error parsing datetime string "14/03/15 00:16" at position 2