<center><h1 style="font-family=sarif; color:gray;">Mobile Usage Analysis</h1></center>

In [1]:
import numpy as np
import pandas as pd
import collections

In [2]:
loaddata=np.genfromtxt('/home/kunalverma/Itronix Solutions/dummy/phone_data.csv',delimiter=',', dtype=str)
print(loaddata)
data=loaddata[1:,]

[['index' 'date' 'duration' ... 'month' 'network' 'network_type']
 ['0' '15/10/14 06:58' '34.429' ... '2014-11' 'data' 'data']
 ['1' '15/10/14 06:58' '13' ... '2014-11' 'Vodafone' 'mobile']
 ...
 ['827' '13/03/15 06:58' '34.429' ... '2015-03' 'data' 'data']
 ['828' '14/03/15 00:13' '1' ... '2015-03' 'world' 'world']
 ['829' '14/03/15 00:16' '1' ... '2015-03' 'world' 'world']]

In [3]:
print(data)

[['0' '15/10/14 06:58' '34.429' ... '2014-11' 'data' 'data']
 ['1' '15/10/14 06:58' '13' ... '2014-11' 'Vodafone' 'mobile']
 ['2' '15/10/14 14:46' '23' ... '2014-11' 'Meteor' 'mobile']
 ...
 ['827' '13/03/15 06:58' '34.429' ... '2015-03' 'data' 'data']
 ['828' '14/03/15 00:13' '1' ... '2015-03' 'world' 'world']
 ['829' '14/03/15 00:16' '1' ... '2015-03' 'world' 'world']]

<img src="image.png"/>

### Longest Phone Call and Total Seconds.

In [4]:
callindex=np.where(data[...,3]=="call")
duration=np.array(data[callindex],dtype=str)
callduration=np.array(duration[:,2],dtype=float)

#Longest Call Made
print("Longest Call Made  ",duration[np.argmax(callduration)][2])

#Total Seconds Recorded

print("Total Seconds Talked : ",np.sum(callduration))

Longest Call Made   10528
Total Seconds Talked :  92321.0

### Monthwise Number of Each Enteries

In [5]:
newdata=loaddata[1:,]
a=pd.to_datetime(newdata[...,1])
date=np.array(a,dtype=np.datetime64)
date=date.astype('datetime64[M]')
newdata[...,1]=date.astype('datetime64[M]')
print(newdata)

[['0' '2014-10' '34.429' ... '2014-11' 'data' 'data']
 ['1' '2014-10' '13' ... '2014-11' 'Vodafone' 'mobile']
 ['2' '2014-10' '23' ... '2014-11' 'Meteor' 'mobile']
 ...
 ['827' '2015-03' '34.429' ... '2015-03' 'data' 'data']
 ['828' '2015-03' '1' ... '2015-03' 'world' 'world']
 ['829' '2015-03' '1' ... '2015-03' 'world' 'world']]

In [6]:
month=np.array(newdata[...,4],dtype=str)
month=list(set(month))
month.sort()
print(month)

['2014-11', '2014-12', '2015-01', '2015-02', '2015-03']

In [7]:
calldata=np.array(newdata[newdata[...,3]=="call"])
print(calldata)

[['1' '2014-10' '13' ... '2014-11' 'Vodafone' 'mobile']
 ['2' '2014-10' '23' ... '2014-11' 'Meteor' 'mobile']
 ['3' '2014-10' '4' ... '2014-11' 'Tesco' 'mobile']
 ...
 ['809' '2015-03' '1325' ... '2015-03' 'Vodafone' 'mobile']
 ['810' '2015-03' '768' ... '2015-03' 'Three' 'mobile']
 ['816' '2015-04' '10528' ... '2015-03' 'landline' 'landline']]

In [8]:
smsdata=np.array(newdata[newdata[...,3]=="sms"])
print(smsdata)

[['11' '2014-10' '1' ... '2014-11' 'Meteor' 'mobile']
 ['12' '2014-10' '1' ... '2014-11' 'Meteor' 'mobile']
 ['14' '2014-10' '1' ... '2014-11' 'Tesco' 'mobile']
 ...
 ['826' '2015-03' '1' ... '2015-03' 'Vodafone' 'mobile']
 ['828' '2015-03' '1' ... '2015-03' 'world' 'world']
 ['829' '2015-03' '1' ... '2015-03' 'world' 'world']]

In [9]:
netdata=np.array(newdata[newdata[...,3]=="data"])
print(netdata)

[['0' '2014-10' '34.429' ... '2014-11' 'data' 'data']
 ['6' '2014-10' '34.429' ... '2014-11' 'data' 'data']
 ['13' '2014-10' '34.429' ... '2014-11' 'data' 'data']
 ...
 ['823' '2015-11' '34.429' ... '2015-03' 'data' 'data']
 ['824' '2015-12' '34.429' ... '2015-03' 'data' 'data']
 ['827' '2015-03' '34.429' ... '2015-03' 'data' 'data']]

In [10]:
def enteries(month):
    callsmade=np.where(np.logical_and(calldata[...,4]==month,calldata[...,3]=="call"))
    smssent=np.where(np.logical_and(smsdata[...,4]==month,smsdata[...,3]=="sms"))
    netused=np.where(np.logical_and(netdata[...,4]==month,netdata[...,3]=="data"))
    print("Calls Enteries ",len(calldata[callsmade]))
    print()
    print("Sms Enteries   ",len(smsdata[smssent]))
    print()
    print("Data Enteries  ",len(netdata[netused]))

In [11]:
for i in range(len(month)):
    print("In {}".format(month[i]))
    print()
    enteries(month[i])
    print()
    print()

In 2014-11

Calls Enteries  107

Sms Enteries    94

Data Enteries   29


In 2014-12

Calls Enteries  79

Sms Enteries    48

Data Enteries   30


In 2015-01

Calls Enteries  88

Sms Enteries    86

Data Enteries   31


In 2015-02

Calls Enteries  67

Sms Enteries    39

Data Enteries   31


In 2015-03

Calls Enteries  47

Sms Enteries    25

Data Enteries   29

### First Entery of Each Month

In [78]:
for i in month:
    a=np.array(newdata[newdata[...,4]==i])
    print(a[0])

['0' '2014-10' '34.429' 'data' '2014-11' 'data' 'data']
['228' '2014-11' '34.429' 'data' '2014-12' 'data' 'data']
['381' '2014-12' '34.429' 'data' '2015-01' 'data' 'data']
['577' '2015-01' '34.429' 'data' '2015-02' 'data' 'data']
['729' '2015-12' '69' 'call' '2015-03' 'landline' 'landline']

### Sum of the Duration Per month.

In [17]:
def sumofdurations(month):
    callsmade=np.where(np.logical_and(calldata[...,4]==month,calldata[...,3]=="call"))
    smssent=np.where(np.logical_and(smsdata[...,4]==month,smsdata[...,3]=="sms"))
    netused=np.where(np.logical_and(netdata[...,4]==month,netdata[...,3]=="data"))
    
    calldurations=np.array(calldata[callsmade,2],dtype=float)
    smscounter=np.array(smsdata[smssent,2],dtype=float)
    datacounter=np.array(netdata[netused,2],dtype=float)
    
    print("Total Seconds of Calls : ",np.sum(calldurations[0])," seconds")
    print()
    print("Calls Enteries         : ",len(calldata[callsmade]))
    print()
    print("Total Sms Sent         : ",np.sum(smscounter[0]))
    print()
    print("Total Data used        : ",np.sum(datacounter[0])," mb/seconds.")
    print()

In [19]:
for i in month:
    print("In {}".format(i))
    print()
    sumofdurations(i)
    print()

In 2014-11

Total Seconds of Calls :  25547.0  seconds

Calls Enteries         :  107

Total Sms Sent         :  94.0

Total Data used        :  998.4409999999999  mb/seconds.


In 2014-12

Total Seconds of Calls :  13561.0  seconds

Calls Enteries         :  79

Total Sms Sent         :  48.0

Total Data used        :  1032.87  mb/seconds.


In 2015-01

Total Seconds of Calls :  17070.0  seconds

Calls Enteries         :  88

Total Sms Sent         :  86.0

Total Data used        :  1067.299  mb/seconds.


In 2015-02

Total Seconds of Calls :  14416.0  seconds

Calls Enteries         :  67

Total Sms Sent         :  39.0

Total Data used        :  1067.299  mb/seconds.


In 2015-03

Total Seconds of Calls :  21727.0  seconds

Calls Enteries         :  47

Total Sms Sent         :  25.0

Total Data used        :  998.4409999999999  mb/seconds.

## Monthwise - Each Company Record

In [33]:
companies=np.array(newdata[...,5],dtype=str)
companies=list(set(companies))
companies.sort()
print(companies)

['Meteor', 'Tesco', 'Three', 'Vodafone', 'data', 'landline', 'special', 'voicemail', 'world']

In [108]:
def calls(month,company):
    ncalldata=np.where(np.logical_and(np.logical_and(newdata[...,3]=='call',newdata[...,4]==month),newdata[...,5]==company))
    callsum=np.array(newdata[ncalldata,2],dtype=float)
    print("In {} Calls in Seconds to {} : {} seconds ".format(month,company,np.sum(callsum)))

In [109]:
def sms(month,company):
    nsmsdata=np.where(np.logical_and(np.logical_and(newdata[...,3]=='sms',newdata[...,4]==month),newdata[...,5]==company))
    smssum=np.array(newdata[nsmsdata,2],dtype=float)
    print("In {} sms to {} : {} units ".format(month,company,np.sum(smssum)))

In [110]:
def data(month,company):
    ndatadata=np.where(np.logical_and(np.logical_and(newdata[...,3]=='data',newdata[...,4]==month),newdata[...,5]==company))
    datasum=np.array(newdata[ndatadata,2],dtype=float)
    print("In {} data used to {} : {} mb ".format(month,company,np.sum(datasum)))

In [111]:
# Monthwise Companiwise Call Records: 

for i in month:
    for j in companies:
        calls(i,j)
print()   
# Monthwise Companiwise sms Records:
for i in month:
    for j in companies:
        sms(i,j)
print()    

# Monthwise Companiwise data Records:
for i in month:
    for j in companies:
        data(i,j)

In 2014-11 Calls in Seconds to Meteor : 1521.0 seconds
In 2014-11 Calls in Seconds to Tesco : 4045.0 seconds
In 2014-11 Calls in Seconds to Three : 12458.0 seconds
In 2014-11 Calls in Seconds to Vodafone : 4316.0 seconds
In 2014-11 Calls in Seconds to data : 0.0 seconds
In 2014-11 Calls in Seconds to landline : 2906.0 seconds
In 2014-11 Calls in Seconds to special : 0.0 seconds
In 2014-11 Calls in Seconds to voicemail : 301.0 seconds
In 2014-11 Calls in Seconds to world : 0.0 seconds
In 2014-12 Calls in Seconds to Meteor : 2010.0 seconds
In 2014-12 Calls in Seconds to Tesco : 1819.0 seconds
In 2014-12 Calls in Seconds to Three : 6316.0 seconds
In 2014-12 Calls in Seconds to Vodafone : 1302.0 seconds
In 2014-12 Calls in Seconds to data : 0.0 seconds
In 2014-12 Calls in Seconds to landline : 1424.0 seconds
In 2014-12 Calls in Seconds to special : 0.0 seconds
In 2014-12 Calls in Seconds to voicemail : 690.0 seconds
In 2014-12 Calls in Seconds to world : 0.0 seconds
In 2015-01 Calls in Seconds to Meteor : 2207.0 seconds
In 2015-01 Calls in Seconds to Tesco : 2904.0 seconds
In 2015-01 Calls in Seconds to Three : 6445.0 seconds
In 2015-01 Calls in Seconds to Vodafone : 3626.0 seconds
In 2015-01 Calls in Seconds to data : 0.0 seconds
In 2015-01 Calls in Seconds to landline : 1603.0 seconds
In 2015-01 Calls in Seconds to special : 0.0 seconds
In 2015-01 Calls in Seconds to voicemail : 285.0 seconds
In 2015-01 Calls in Seconds to world : 0.0 seconds
In 2015-02 Calls in Seconds to Meteor : 1188.0 seconds
In 2015-02 Calls in Seconds to Tesco : 4087.0 seconds
In 2015-02 Calls in Seconds to Three : 6279.0 seconds
In 2015-02 Calls in Seconds to Vodafone : 1864.0 seconds
In 2015-02 Calls in Seconds to data : 0.0 seconds
In 2015-02 Calls in Seconds to landline : 730.0 seconds
In 2015-02 Calls in Seconds to special : 0.0 seconds
In 2015-02 Calls in Seconds to voicemail : 268.0 seconds
In 2015-02 Calls in Seconds to world : 0.0 seconds
In 2015-03 Calls in Seconds to Meteor : 274.0 seconds
In 2015-03 Calls in Seconds to Tesco : 973.0 seconds
In 2015-03 Calls in Seconds to Three : 4966.0 seconds
In 2015-03 Calls in Seconds to Vodafone : 3513.0 seconds
In 2015-03 Calls in Seconds to data : 0.0 seconds
In 2015-03 Calls in Seconds to landline : 11770.0 seconds
In 2015-03 Calls in Seconds to special : 0.0 seconds
In 2015-03 Calls in Seconds to voicemail : 231.0 seconds
In 2015-03 Calls in Seconds to world : 0.0 seconds

In 2014-11 sms to Meteor : 10.0 units
In 2014-11 sms to Tesco : 3.0 units
In 2014-11 sms to Three : 25.0 units
In 2014-11 sms to Vodafone : 55.0 units
In 2014-11 sms to data : 0.0 units
In 2014-11 sms to landline : 0.0 units
In 2014-11 sms to special : 1.0 units
In 2014-11 sms to voicemail : 0.0 units
In 2014-11 sms to world : 0.0 units
In 2014-12 sms to Meteor : 12.0 units
In 2014-12 sms to Tesco : 1.0 units
In 2014-12 sms to Three : 13.0 units
In 2014-12 sms to Vodafone : 18.0 units
In 2014-12 sms to data : 0.0 units
In 2014-12 sms to landline : 0.0 units
In 2014-12 sms to special : 0.0 units
In 2014-12 sms to voicemail : 0.0 units
In 2014-12 sms to world : 4.0 units
In 2015-01 sms to Meteor : 10.0 units
In 2015-01 sms to Tesco : 3.0 units
In 2015-01 sms to Three : 33.0 units
In 2015-01 sms to Vodafone : 40.0 units
In 2015-01 sms to data : 0.0 units
In 2015-01 sms to landline : 0.0 units
In 2015-01 sms to special : 0.0 units
In 2015-01 sms to voicemail : 0.0 units
In 2015-01 sms to world : 0.0 units
In 2015-02 sms to Meteor : 1.0 units
In 2015-02 sms to Tesco : 2.0 units
In 2015-02 sms to Three : 11.0 units
In 2015-02 sms to Vodafone : 23.0 units
In 2015-02 sms to data : 0.0 units
In 2015-02 sms to landline : 0.0 units
In 2015-02 sms to special : 2.0 units
In 2015-02 sms to voicemail : 0.0 units
In 2015-02 sms to world : 0.0 units
In 2015-03 sms to Meteor : 0.0 units
In 2015-03 sms to Tesco : 4.0 units
In 2015-03 sms to Three : 5.0 units
In 2015-03 sms to Vodafone : 13.0 units
In 2015-03 sms to data : 0.0 units
In 2015-03 sms to landline : 0.0 units
In 2015-03 sms to special : 0.0 units
In 2015-03 sms to voicemail : 0.0 units
In 2015-03 sms to world : 3.0 units

In 2014-11 data used to Meteor : 0.0 mb
In 2014-11 data used to Tesco : 0.0 mb
In 2014-11 data used to Three : 0.0 mb
In 2014-11 data used to Vodafone : 0.0 mb
In 2014-11 data used to data : 998.4409999999999 mb
In 2014-11 data used to landline : 0.0 mb
In 2014-11 data used to special : 0.0 mb
In 2014-11 data used to voicemail : 0.0 mb
In 2014-11 data used to world : 0.0 mb
In 2014-12 data used to Meteor : 0.0 mb
In 2014-12 data used to Tesco : 0.0 mb
In 2014-12 data used to Three : 0.0 mb
In 2014-12 data used to Vodafone : 0.0 mb
In 2014-12 data used to data : 1032.87 mb
In 2014-12 data used to landline : 0.0 mb
In 2014-12 data used to special : 0.0 mb
In 2014-12 data used to voicemail : 0.0 mb
In 2014-12 data used to world : 0.0 mb
In 2015-01 data used to Meteor : 0.0 mb
In 2015-01 data used to Tesco : 0.0 mb
In 2015-01 data used to Three : 0.0 mb
In 2015-01 data used to Vodafone : 0.0 mb
In 2015-01 data used to data : 1067.299 mb
In 2015-01 data used to landline : 0.0 mb
In 2015-01 data used to special : 0.0 mb
In 2015-01 data used to voicemail : 0.0 mb
In 2015-01 data used to world : 0.0 mb
In 2015-02 data used to Meteor : 0.0 mb
In 2015-02 data used to Tesco : 0.0 mb
In 2015-02 data used to Three : 0.0 mb
In 2015-02 data used to Vodafone : 0.0 mb
In 2015-02 data used to data : 1067.299 mb
In 2015-02 data used to landline : 0.0 mb
In 2015-02 data used to special : 0.0 mb
In 2015-02 data used to voicemail : 0.0 mb
In 2015-02 data used to world : 0.0 mb
In 2015-03 data used to Meteor : 0.0 mb
In 2015-03 data used to Tesco : 0.0 mb
In 2015-03 data used to Three : 0.0 mb
In 2015-03 data used to Vodafone : 0.0 mb
In 2015-03 data used to data : 998.4409999999999 mb
In 2015-03 data used to landline : 0.0 mb
In 2015-03 data used to special : 0.0 mb
In 2015-03 data used to voicemail : 0.0 mb
In 2015-03 data used to world : 0.0 mb

## DeviceType- Each Record

In [82]:
device=np.array(newdata[...,6],dtype=str)
device=list(set(device))
device.sort()
print(device)

['data', 'landline', 'mobile', 'special', 'voicemail', 'world']

In [118]:
def callsondevice(month,device):
    ncalldata=np.where(np.logical_and(np.logical_and(newdata[...,3]=='call',newdata[...,4]==month),newdata[...,6]==device))
    callsum=np.array(newdata[ncalldata,2],dtype=float)
    print("Calls Enteries : ",len(callsum[0]))

def smsondevice(month,device):
    nsmsdata=np.where(np.logical_and(np.logical_and(newdata[...,3]=='sms',newdata[...,4]==month),newdata[...,5]==device))
    smssum=np.array(newdata[nsmsdata,2],dtype=float)
    print("Sms   Enteries  : ",len(smssum[0]))
    
def dataondevice(month,device):
    ndatadata=np.where(np.logical_and(np.logical_and(newdata[...,3]=='data',newdata[...,4]==month),newdata[...,5]==device))
    datasum=np.array(newdata[ndatadata,2],dtype=float)
    print("Data  Enteries  : ",len(datasum[0]))

In [119]:
for i in month:
    print("In ",i)
    for j in device:
        print(j)
        callsondevice(i,j)
        smsondevice(i,j)
        dataondevice(i,j)
        print()

In  2014-11
data
Calls Enteries :  0
Sms   Enteries  :  0
Data  Enteries  :  29

landline
Calls Enteries :  5
Sms   Enteries  :  0
Data  Enteries  :  0

mobile
Calls Enteries :  96
Sms   Enteries  :  0
Data  Enteries  :  0

special
Calls Enteries :  0
Sms   Enteries  :  1
Data  Enteries  :  0

voicemail
Calls Enteries :  6
Sms   Enteries  :  0
Data  Enteries  :  0

world
Calls Enteries :  0
Sms   Enteries  :  0
Data  Enteries  :  0

In  2014-12
data
Calls Enteries :  0
Sms   Enteries  :  0
Data  Enteries  :  30

landline
Calls Enteries :  7
Sms   Enteries  :  0
Data  Enteries  :  0

mobile
Calls Enteries :  64
Sms   Enteries  :  0
Data  Enteries  :  0

special
Calls Enteries :  0
Sms   Enteries  :  0
Data  Enteries  :  0

voicemail
Calls Enteries :  8
Sms   Enteries  :  0
Data  Enteries  :  0

world
Calls Enteries :  0
Sms   Enteries  :  4
Data  Enteries  :  0

In  2015-01
data
Calls Enteries :  0
Sms   Enteries  :  0
Data  Enteries  :  31

landline
Calls Enteries :  11
Sms   Enteries  :  0
Data  Enteries  :  0

mobile
Calls Enteries :  74
Sms   Enteries  :  0
Data  Enteries  :  0

special
Calls Enteries :  0
Sms   Enteries  :  0
Data  Enteries  :  0

voicemail
Calls Enteries :  3
Sms   Enteries  :  0
Data  Enteries  :  0

world
Calls Enteries :  0
Sms   Enteries  :  0
Data  Enteries  :  0

In  2015-02
data
Calls Enteries :  0
Sms   Enteries  :  0
Data  Enteries  :  31

landline
Calls Enteries :  8
Sms   Enteries  :  0
Data  Enteries  :  0

mobile
Calls Enteries :  53
Sms   Enteries  :  0
Data  Enteries  :  0

special
Calls Enteries :  0
Sms   Enteries  :  2
Data  Enteries  :  0

voicemail
Calls Enteries :  6
Sms   Enteries  :  0
Data  Enteries  :  0

world
Calls Enteries :  0
Sms   Enteries  :  0
Data  Enteries  :  0

In  2015-03
data
Calls Enteries :  0
Sms   Enteries  :  0
Data  Enteries  :  29

landline
Calls Enteries :  11
Sms   Enteries  :  0
Data  Enteries  :  0

mobile
Calls Enteries :  32
Sms   Enteries  :  0
Data  Enteries  :  0

special
Calls Enteries :  0
Sms   Enteries  :  0
Data  Enteries  :  0

voicemail
Calls Enteries :  4
Sms   Enteries  :  0
Data  Enteries  :  0

world
Calls Enteries :  0
Sms   Enteries  :  3
Data  Enteries  :  0