 <img src="https://scontent.fixc2-1.fna.fbcdn.net/v/t31.0-8/14712829_1801910116719114_4272577980738802404_o.png?_nc_cat=105&_nc_ht=scontent.fixc2-1.fna&oh=df664e1abc6250fa71e5918b389bae93&oe=5CBF1474" alt="Smiley face">

# Assignemnt No 1: Python Basics : ITRONIX SOLUTIONS : Dinesh Pabbi

#### Question No 1: 
Input : Welcome.to.Itronix.Solutions.Jalandhar
<br>Output : Welcome to Itronix Solutions Jalandhar

In [36]:
s = input("Enter The string with dots\n")
s = " ".join(s.split("."))
print(s)

Enter The string with dots
dinesh.is.a.student
dinesh is a student

#### Question No 2: Conver list to the Power of 2 : Without using for loop
first_list = [2, 4, 5]
<br>print(first_list**2)

In [37]:
first_list = [2, 4, 5] 
out= list(map(lambda x:x**2,first_list))
print(out)
#Write your code here ( Output: [4, 16, 25])

[4, 16, 25]

#### Question No 3: Join the given 2 list
Expected Output : ['Nikola Tesla', 'James Watt', 'Albert Einstein']

In [38]:
list_of_names = ['nikola', 'james', 'albert']
list_of_names2 = ['tesla','watt','einstein']
out = list_of_names + list_of_names2
print(out)#Write your code here

['nikola', 'james', 'albert', 'tesla', 'watt', 'einstein']

#### Question No 4: Join the given 2 list
list_of_nums = [22,45,32,20,87,94,30]
<br>Find the largest element int the list using reduce function: 
<br>Use of any loop will lead to penalty

In [6]:
from functools import reduce

In [39]:
list_of_nums = [22,45,32,20,87,94,30]
out = reduce(lambda a,b: a if a>b else b,list_of_nums)
print(out)#Write your code here

94

#### Question No 5: 
a_sentence = "Hi Karan, this is to inform you that I'm not well today."
<br>Task 5.1 : ['Hi', 'Karan,', 'this', 'is', 'to', 'inform', 'you', 'that', "I'm", 'not', 'well', 'today.']
__________________________________________
a_mail = "Hi Karan, this is to inform you that I'm not well today. I won't be coming to office, but I'm available on call. Thanks"
<br>Task 5.2 : Hi Karan, this is to inform you that I'm not well today & I won't be coming to office, but I'm available on call &  Thanks

In [40]:
a_sentence = "Hi Karan , this is to inform you that I'm not well today." 
print([i for i in a_sentence.split()])

['Hi', 'Karan', ',', 'this', 'is', 'to', 'inform', 'you', 'that', "I'm", 'not', 'well', 'today.']

In [41]:
a_mail = "Hi Karan, this is to inform you that I'm not well today. I won't be coming to office, but I'm available on call. Thanks" 
print(" & ".join(a_mail.split(".")))

Hi Karan, this is to inform you that I'm not well today &  I won't be coming to office, but I'm available on call &  Thanks

#### Question No6 : Pattern to print- Using Single For Loop

In [ ]:

*
* *
* * *
* * * * 
* * * * *
* * * *
* * *
* *
*

In [57]:
j = int(input("Enter the number of lines\n"))
print()
k = j+1
for i in range(1,2*j +1):
    if i<=j:
        temp = i%k
        st = "* "*temp
        print(st)
    else:
        temp = (2*j -i)%k
        st = "* "*temp
        print(st)

Enter the number of lines
4

*
* *
* * *
* * * *
* * *
* *
*

### Question No 7 : Print the #Hashtag Without the '#'
tweet = 'Welcome to #Itronix #Solutions Jalandhar'
#### Output: Itronix Solutions

In [53]:
tweet = 'Welcome to #Itronix #Solutions Jalandhar'
Out = tweet.split(" ")
result = list(filter(lambda x: x[0]=='#',Out))
print(" ".join(result))
#Write your code here

#Itronix #Solutions

### Question No 8 : Print the word that starts from a vowel.
paragraph = ["There was a fox." , 'It was brown in color.', "It was seen near that farm sometime back"]
### Output :['a', 'It', 'in', 'It']

In [54]:
paragraph = ["There was a fox." , 'It was brown in color.', "It was seen near that farm sometime back"]
result = []
for i in paragraph:
    temp = list(filter(lambda x:x[0].lower() in ['a','e','i','o','u'],i.split(" ")))
    result += temp
print(result)
# out=list(#Write your code here

['a', 'It', 'in', 'It']

### Question No 9 : Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,between 2000 and 3200 (both included).
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [49]:
result = []
for i in range(2000,3201):
#     if i < 3200:
#         if i%7 == 0 and i%5 != 0 :
#             print("{},".format(i),end="")
#     else:
#         if i%7 == 0 and i%5 != 0 :
#             print("{}".format(i),end="")
    if i%7 == 0 and i%5 != 0 :
        result.append(i.__str__())
        
print(",".join(result))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

###  Question no 10 : What will be the Oupput :?

In [50]:
"""
x = ['ab', 'cd']
for i in x:
    x.append(i.upper())
print(x)
a) [‘AB’, ‘CD’].
b) [‘ab’, ‘cd’, ‘AB’, ‘CD’].
c) [‘ab’, ‘cd’].
d) none of the mentioned
"""

"\nx = ['ab', 'cd']\nfor i in x:\n    x.append(i.upper())\nprint(x)\na) [‘AB’, ‘CD’].\nb) [‘ab’, ‘cd’, ‘AB’, ‘CD’].\nc) [‘ab’, ‘cd’].\nd) none of the mentioned\n"

In [58]:
print("Answer is None of the mentioned",)

Answer is None of the mentioned

In [60]:
k = int(input("Enter the number : "))
d = 2*k

for i in range(1,d):
    if i <= k:
        print("* "*i)
    else:
        temp = k*2 - i
        print("* "*temp)

Enter the number : 4
*
* *
* * *
* * * *
* * *
* *
*