# Day 14

In [3]:
import numpy as np
# import collections

In [4]:
a = np.genfromtxt("suicide.csv",delimiter = ',',dtype=str)
a = a[1:,:]

In [5]:
print(a.shape)

(237519, 7)

In [6]:
states = np.unique(a[1::,0])
for i in states:
    print(i)

A & N Islands
Andhra Pradesh
Arunachal Pradesh
Assam
Bihar
Chandigarh
Chhattisgarh
D & N Haveli
Daman & Diu
Delhi (Ut)
Goa
Gujarat
Haryana
Himachal Pradesh
Jammu & Kashmir
Jharkhand
Karnataka
Kerala
Lakshadweep
Madhya Pradesh
Maharashtra
Manipur
Meghalaya
Mizoram
Nagaland
Odisha
Puducherry
Punjab
Rajasthan
Sikkim
Tamil Nadu
Total (All India)
Total (States)
Total (Uts)
Tripura
Uttar Pradesh
Uttarakhand
West Bengal

In [7]:
no = np.array(a[:,6],dtype = int)
print(no.shape)

(237519,)

In [8]:
no[a[:,0]==states[0]]

array([ 0,  0,  0, ..., 28,  0,  0])

In [9]:
cond3  = a[a[:,0]=='Punjab']

In [10]:
# def extract(a,state,year):
#     if a[0] == state and a[1] == str(year):
#         return True
#     else:
#         return False

In [11]:
def find(a,state,year):
    j = filter(lambda x:x[0]==state and x[1] == year,a)
    j = np.array(list(j))
    return j

In [12]:
punjab = find(a,'Punjab','2001')

In [13]:
print(punjab)

[['Punjab' '2001' 'Causes' ... 'Female' '0-14' '0']
 ['Punjab' '2001' 'Causes' ... 'Female' '0-14' '0']
 ['Punjab' '2001' 'Causes' ... 'Female' '0-14' '0']
 ...
 ['Punjab' '2001' 'Social_Status' ... 'Male' '0-100+' '234']
 ['Punjab' '2001' 'Social_Status' ... 'Male' '0-100+' '110']
 ['Punjab' '2001' 'Social_Status' ... 'Male' '0-100+' '25']]

In [14]:
# Method 2 to filter
pun2 = a[np.where((a[:,0]=='Punjab') & (a[:,1]=='2001'))]

In [15]:
print(pun2)

[['Punjab' '2001' 'Causes' ... 'Female' '0-14' '0']
 ['Punjab' '2001' 'Causes' ... 'Female' '0-14' '0']
 ['Punjab' '2001' 'Causes' ... 'Female' '0-14' '0']
 ...
 ['Punjab' '2001' 'Social_Status' ... 'Male' '0-100+' '234']
 ['Punjab' '2001' 'Social_Status' ... 'Male' '0-100+' '110']
 ['Punjab' '2001' 'Social_Status' ... 'Male' '0-100+' '25']]

In [16]:
#Method 3
w = np.where(np.logical_and(a[:,0]=="Punjab", a[:,1]=='2001'))
print(a[w])

[['Punjab' '2001' 'Causes' ... 'Female' '0-14' '0']
 ['Punjab' '2001' 'Causes' ... 'Female' '0-14' '0']
 ['Punjab' '2001' 'Causes' ... 'Female' '0-14' '0']
 ...
 ['Punjab' '2001' 'Social_Status' ... 'Male' '0-100+' '234']
 ['Punjab' '2001' 'Social_Status' ... 'Male' '0-100+' '110']
 ['Punjab' '2001' 'Social_Status' ... 'Male' '0-100+' '25']]

In [17]:
n = np.sum(np.array(punjab[:,6],dtype=int))

In [18]:
print(n)

3240

In [19]:
def FindYearWise():
    j = input("Enter the Year\n")
    for i in states:
        x = find(a,i,'2001')
        n = np.sum(np.array(x[:,6],dtype=int))
        print("Suicides in State: ",i," ",n)

In [20]:
FindYearWise()

Enter the Year
2009
Suicides in State:  A & N Islands   645
Suicides in State:  Andhra Pradesh   52610
Suicides in State:  Arunachal Pradesh   555
Suicides in State:  Assam   13230
Suicides in State:  Bihar   3015
Suicides in State:  Chandigarh   350
Suicides in State:  Chhattisgarh   20051
Suicides in State:  D & N Haveli   250
Suicides in State:  Daman & Diu   69
Suicides in State:  Delhi (Ut)   6195
Suicides in State:  Goa   1280
Suicides in State:  Gujarat   23955
Suicides in State:  Haryana   10031
Suicides in State:  Himachal Pradesh   1535
Suicides in State:  Jammu & Kashmir   765
Suicides in State:  Jharkhand   1250
Suicides in State:  Karnataka   59405
Suicides in State:  Kerala   47860
Suicides in State:  Lakshadweep   0
Suicides in State:  Madhya Pradesh   34300
Suicides in State:  Maharashtra   73090
Suicides in State:  Manipur   205
Suicides in State:  Meghalaya   435
Suicides in State:  Mizoram   270
Suicides in State:  Nagaland   200
Suicides in State:  Odisha   20254
Suicides in State:  Puducherry   2645
Suicides in State:  Punjab   3240
Suicides in State:  Rajasthan   15975
Suicides in State:  Sikkim   470
Suicides in State:  Tamil Nadu   56450
Suicides in State:  Total (All India)   217012
Suicides in State:  Total (States)   212950
Suicides in State:  Total (Uts)   4062
Suicides in State:  Tripura   4270
Suicides in State:  Uttar Pradesh   17580
Suicides in State:  Uttarakhand   1555
Suicides in State:  West Bengal   68450

In [21]:
years = np.unique(a[:,1])
age = np.unique(a[:,5])
types = np.unique(a[:,3])
print(age)
print(types)

['0-100+' '0-14' '15-29' '30-44' '45-59' '60+']
['Bankruptcy or Sudden change in Economic'
 'Bankruptcy or Sudden change in Economic Status'
 'By Consuming Insecticides' 'By Consuming Other Poison' 'By Drowning'
 'By Fire-Arms' 'By Fire/Self Immolation' 'By Hanging'
 'By Jumping from (Building)' 'By Jumping from (Other sites)'
 'By Jumping off Moving Vehicles/Trains' 'By Machine' 'By Other means'
 'By Other means (please specify)' 'By Over Alcoholism'
 'By Overdose of sleeping pills' 'By Self Infliction of injury'
 'By coming under running vehicles/trains' 'By touching electric wires'
 'Cancellation/Non-Settlement of Marriage' 'Cancer' 'Causes Not known'
 'Death of Dear Person' 'Diploma' 'Divorce' 'Divorcee' 'Dowry Dispute'
 'Drug Abuse/Addiction' 'Failure in Examination'
 'Fall in Social Reputation' 'Family Problems'
 'Farming/Agriculture Activity' 'Graduate' 'House Wife'
 'Hr. Secondary/Intermediate/Pre-Universit'
 'Ideological Causes/Hero Worshipping' 'Illegitimate Pregnancy'
 'Illness (Aids/STD)' 'Insanity/Mental Illness' 'Love Affairs' 'Married'
 'Matriculate/Secondary' 'Middle' 'Never Married' 'No Education'
 'Not having Children (Barrenness/Impotency'
 'Not having Children(Barrenness/Impotency'
 'Other Causes (Please Specity)' 'Other Prolonged Illness'
 'Others (Please Specify)' 'Paralysis' 'Physical Abuse (Rape/Incest Etc.)'
 'Post Graduate and Above' 'Poverty' 'Primary' 'Professional Activity'
 'Professional/Career Problem' 'Property Dispute'
 'Public Sector Undertaking' 'Retired Person'
 'Self-employed (Business activity)' 'Seperated' 'Service (Government)'
 'Service (Private)' 'Student' 'Suspected/Illicit Relation' 'Unemployed'
 'Unemployment' 'Widowed/Widower']

In [22]:
for i in years:
    print(i)

2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012

In [23]:
# Find by Gender and Reason of Suicide an Year
gen = a[np.where((a[:,4]=='Male') & (a[:,3]==types[4]) & (a[:,1]=='2001'))]
print(gen)
print(np.sum(np.array(gen[:,6],dtype=int)))

[['A & N Islands' '2001' 'Means_adopted' ... 'Male' '0-14' '0']
 ['A & N Islands' '2001' 'Means_adopted' ... 'Male' '15-29' '0']
 ['A & N Islands' '2001' 'Means_adopted' ... 'Male' '30-44' '1']
 ...
 ['West Bengal' '2001' 'Means_adopted' ... 'Male' '30-44' '74']
 ['West Bengal' '2001' 'Means_adopted' ... 'Male' '45-59' '95']
 ['West Bengal' '2001' 'Means_adopted' ... 'Male' '60+' '32']]
4695

In [24]:
d = a[a[:,1]=='2002']
ss = np.sum(np.array(d[:,6],dtype=int))
print(ss)

993648

In [25]:
# How many Males died in Punjab In 2009 due to Love Affairs
p = a[np.where((a[:,0]=='Punjab') & (a[:,1]=='2009') & (a[:,3]=='Love Affairs') )]

In [36]:
temp = a[np.where( (a[:,0]=='Punjab') & (np.isin(a[:,1],'2001')))]

In [37]:
print(temp)

[['Punjab' '2001' 'Causes' ... 'Female' '0-14' '0']
 ['Punjab' '2001' 'Causes' ... 'Female' '0-14' '0']
 ['Punjab' '2001' 'Causes' ... 'Female' '0-14' '0']
 ...
 ['Punjab' '2001' 'Social_Status' ... 'Male' '0-100+' '234']
 ['Punjab' '2001' 'Social_Status' ... 'Male' '0-100+' '110']
 ['Punjab' '2001' 'Social_Status' ... 'Male' '0-100+' '25']]

# General Method for All Queries !!

In [44]:
def que(x = a,state=states,year = years,t = types,group = age,gender = ["Male","Female"]):
    result = x[np.where( (np.isin(x[:,0],state)) & (np.isin(x[:,1],year)) & (np.isin(x[:,3],t)) & (np.isin(x[:,5],group)) & (np.isin(x[:,4],gender)) )]
    return result

In [45]:
op = que(state = "Punjab",year = "2009")

In [43]:
print(op)

[['Punjab' '2009' 'Causes' ... 'Female' '0-14' '0']
 ['Punjab' '2009' 'Causes' ... 'Female' '0-14' '1']
 ['Punjab' '2009' 'Causes' ... 'Female' '0-14' '0']
 ...
 ['Punjab' '2009' 'Social_Status' ... 'Male' '0-100+' '392']
 ['Punjab' '2009' 'Social_Status' ... 'Male' '0-100+' '218']
 ['Punjab' '2009' 'Social_Status' ... 'Male' '0-100+' '8']]

In [47]:
op = que(state = "Punjab",year = "2009",gender = "Male",t="Love Affairs")
print(op)

[['Punjab' '2009' 'Causes' 'Love Affairs' 'Male' '0-14' '0']
 ['Punjab' '2009' 'Causes' 'Love Affairs' 'Male' '15-29' '6']
 ['Punjab' '2009' 'Causes' 'Love Affairs' 'Male' '30-44' '4']
 ['Punjab' '2009' 'Causes' 'Love Affairs' 'Male' '45-59' '1']
 ['Punjab' '2009' 'Causes' 'Love Affairs' 'Male' '60+' '0']]