## Pandas Day 22

In [1]:
import pandas as pd
import numpy as np

In [3]:
## Minor axis = columns
## Major Axis = Rows

In [6]:
a = pd.DataFrame({"A":[1,2,3],"B":["a",'b','c'],"C":["DI","KU","BH"]})
b = pd.DataFrame({"A":[1,2,3],"B":["a",'b','c']})

In [7]:
t = {"item1":a,"item2":b}
p = pd.Panel(t)

c:\users\dell\appdata\local\programs\python\python36\lib\site-packages\IPython\core\interactiveshell.py:3267: FutureWarning:
Panel is deprecated and will be removed in a future version.
The recommended way to represent these types of 3-dimensional data are with a MultiIndex on a DataFrame, via the Panel.to_frame() method
Alternatively, you can use the xarray package http://xarray.pydata.org/en/stable/.
Pandas provides a `.to_xarray()` method to help automate this conversion.

  exec(code_obj, self.user_global_ns, self.user_ns)
c:\users\dell\appdata\local\programs\python\python36\lib\site-packages\pandas\core\panel.py:154: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  minor_axis=minor_axis, copy=copy, dtype=dtype)

In [8]:
print(p)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 3 (minor_axis)
Items axis: item1 to item2
Major_axis axis: 0 to 2
Minor_axis axis: A to C

In [9]:
print(p["item1"])

   A  B   C
0  1  a  DI
1  2  b  KU
2  3  c  BH

In [10]:
print(p["item2"])

   A  B    C
0  1  a  NaN
1  2  b  NaN
2  3  c  NaN

In [11]:
print(p)

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 3 (major_axis) x 3 (minor_axis)
Items axis: item1 to item2
Major_axis axis: 0 to 2
Minor_axis axis: A to C

In [24]:
# print(pd.DataFrame(lambda x:p[x],np.asarray(p.keys())))

ValueError: DataFrame constructor not properly called!

In [25]:
d = {
    "name": pd.Series(['Kunal','Dinesh','Nishant','Bharpur']),
    "age": pd.Series([21,21,21,21]),
    "Rating": pd.Series([4.23,5.4,3.4,2.3])
}

df = pd.DataFrame(d)
print(df)
print()
print("Sum of Age ",df.age.sum())
print()
print("Mean of Age",df.age.mean())
print()
print("Std of Age",df.age.std())
print()
print("Count of Age",df.age.count())
print()
print("Minimum Age",df.age.min())
print()
print("Maximum Age",df.age.max())
print()
print("Product of age",df.age.prod())
print()
print("Median of Age",df.age.median())
print()
print("Commulative Sum of Age",df.age.cumsum())
print()
print("Commulative Product of Age",df.age.cumprod())
print()

      name  age  Rating
0    Kunal   21    4.23
1   Dinesh   21    5.40
2  Nishant   21    3.40
3  Bharpur   21    2.30

Sum of Age  84

Mean of Age 21.0

Std of Age 0.0

Count of Age 4

Minimum Age 21

Maximum Age 21

Product of age 194481

Median of Age 21.0

Commulative Sum of Age 0    21
1    42
2    63
3    84
Name: age, dtype: int64

Commulative Product of Age 0        21
1       441
2      9261
3    194481
Name: age, dtype: int64

### Sorting

In [39]:
data = pd.DataFrame(np.random.randn(10,2),index = [1,4,2,3,6,5,8,7,9,0],columns = ['col1','col2'])
print(data)

       col1      col2
1  1.367212  0.273736
4 -1.315892  2.140544
2 -1.262588 -0.611285
3  0.482629  0.732535
6 -0.385028  1.020326
5  2.133901  1.274017
8  0.171874 -0.351267
7  0.186605 -0.632884
9  1.146044 -0.433967
0 -0.001631  0.116339

In [40]:
a = data.sort_index()
print(a)

       col1      col2
0 -0.001631  0.116339
1  1.367212  0.273736
2 -1.262588 -0.611285
3  0.482629  0.732535
4 -1.315892  2.140544
5  2.133901  1.274017
6 -0.385028  1.020326
7  0.186605 -0.632884
8  0.171874 -0.351267
9  1.146044 -0.433967

In [41]:
b = data.sort_index(ascending=False)
print(b)

       col1      col2
9  1.146044 -0.433967
8  0.171874 -0.351267
7  0.186605 -0.632884
6 -0.385028  1.020326
5  2.133901  1.274017
4 -1.315892  2.140544
3  0.482629  0.732535
2 -1.262588 -0.611285
1  1.367212  0.273736
0 -0.001631  0.116339

In [42]:
c = data.sort_values(by="col1",kind = "mergesort") # Kinds: Mergesort,QuickSort,Heapsort
print(c)

       col1      col2
4 -1.315892  2.140544
2 -1.262588 -0.611285
6 -0.385028  1.020326
0 -0.001631  0.116339
8  0.171874 -0.351267
7  0.186605 -0.632884
3  0.482629  0.732535
9  1.146044 -0.433967
1  1.367212  0.273736
5  2.133901  1.274017

### String Operations

In [45]:
s = pd.Series(['Katrina','Raman','Jessica','Albert','1234','Smith'])
print (s)
print()
print (s.str.lower())
print()
print (s.str.upper())
print()
print (s.str.len())
print()
print (s.str.contains('a'))
print()
print (s.str.replace('a','@'))
print()
print (s.str.repeat(2))
print()
print (s.str.count('a'))
print()
print (s.str. startswith ('S'))
print()
print (s.str.endswith('t'))
print()
print (s.str.find('n'))
print()
print (s.str.findall('e'))
print()
print (s.str.swapcase())
print()
print (s.str.islower())
print()
print (s.str.isupper())
print()
print (s.str.isnumeric())

0    Katrina
1      Raman
2    Jessica
3     Albert
4       1234
5      Smith
dtype: object

0    katrina
1      raman
2    jessica
3     albert
4       1234
5      smith
dtype: object

0    KATRINA
1      RAMAN
2    JESSICA
3     ALBERT
4       1234
5      SMITH
dtype: object

0    7
1    5
2    7
3    6
4    4
5    5
dtype: int64

0     True
1     True
2     True
3    False
4    False
5    False
dtype: bool

0    K@trin@
1      R@m@n
2    Jessic@
3     Albert
4       1234
5      Smith
dtype: object

0    KatrinaKatrina
1        RamanRaman
2    JessicaJessica
3      AlbertAlbert
4          12341234
5        SmithSmith
dtype: object

0    2
1    2
2    1
3    0
4    0
5    0
dtype: int64

0    False
1    False
2    False
3    False
4    False
5     True
dtype: bool

0    False
1    False
2    False
3     True
4    False
5    False
dtype: bool

0    5
1    4
2   -1
3   -1
4   -1
5   -1
dtype: int64

0     []
1     []
2    [e]
3    [e]
4     []
5     []
dtype: object

0    kATRINA
1      rAMAN
2    jESSICA
3     aLBERT
4       1234
5      sMITH
dtype: object

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

0    False
1    False
2    False
3    False
4     True
5    False
dtype: bool

### Setting and Getting Options

In [46]:
print (pd.get_option("display.max_rows"))
print (pd.get_option("display.max_columns"))

pd.set_option("display.max_rows",80)
print (pd.get_option("display.max_rows"))

pd.set_option("display.max_columns",30)
print (pd.get_option("display.max_columns"))

pd.reset_option("display.max_rows")
print (pd.get_option("display.max_rows"))

60
20
80
30
60

### Indexing in Pandas

#### Indexing	Description 
- .loc()	Label based
- .iloc()	Integer based
- .ix()	Both Label and Integer based

In [54]:

import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10,5), index =['a','b','c','d','e','f','g','h','i','j'], columns = ['A','B','C','D','E'])
print (df)
#select all rows for a specific column
print (df.loc[:,'A'])
print (df.loc[:,'A':'C'])
print (df.loc[:,['A','C']])

# Select few rows for multiple columns, say list[]
print (df.loc[['a','b','f','h'],['A','C']])
print (df.loc['a':'h'])

# for getting values with a boolean array
print (df.loc[['a','b']]>0)

# select all rows for a specific column
print (df.iloc[:4])
# Integer slicing
print (df.iloc[1:5, 2:4])

print ("\nSlicing through list of values\n")
print (df.iloc[[1, 3, 5], [1, 3]])
print (df.iloc[1:3, :])
print (df.iloc[:,1:3])

# Integer slicing with ix - Hybrid
print (df.ix[:4])
print (df.ix[:,'A'])

#Note:each operation can be performed on the DataFrame object. 
print (df['A'])
print (df[['A','B']])
#Columns can be selected using the attribute operator '.'
print (df.B)

#reindex the DataFrame
df_reindexed = df.reindex(index=['a','c','d'], columns=['A', 'C', 'B'])
print (df_reindexed)

          A         B         C         D         E
a  1.256430 -1.062555  1.085256 -1.897440  1.555424
b -1.224385  0.252329  0.571332  0.416108  0.590845
c -0.342794 -0.099671  0.846163 -0.289181  0.543275
d -0.484246  0.531083  0.251189  0.823238  1.620425
e  0.462535 -0.247102  2.021907  1.195391  1.279873
f  0.410860  0.081339  0.280267 -0.680470  1.250572
g -0.046882 -0.190329  0.382096 -0.080298 -1.007098
h -1.038418 -1.302711 -1.013485  0.208268 -0.486630
i  1.503846 -0.990114 -0.631490 -1.171235  1.674035
j  0.002172 -0.021871  0.297310  1.396721 -0.103070
a    1.256430
b   -1.224385
c   -0.342794
d   -0.484246
e    0.462535
f    0.410860
g   -0.046882
h   -1.038418
i    1.503846
j    0.002172
Name: A, dtype: float64
          A         B         C
a  1.256430 -1.062555  1.085256
b -1.224385  0.252329  0.571332
c -0.342794 -0.099671  0.846163
d -0.484246  0.531083  0.251189
e  0.462535 -0.247102  2.021907
f  0.410860  0.081339  0.280267
g -0.046882 -0.190329  0.382096
h -1.038418 -1.302711 -1.013485
i  1.503846 -0.990114 -0.631490
j  0.002172 -0.021871  0.297310
          A         C
a  1.256430  1.085256
b -1.224385  0.571332
c -0.342794  0.846163
d -0.484246  0.251189
e  0.462535  2.021907
f  0.410860  0.280267
g -0.046882  0.382096
h -1.038418 -1.013485
i  1.503846 -0.631490
j  0.002172  0.297310
          A         C
a  1.256430  1.085256
b -1.224385  0.571332
f  0.410860  0.280267
h -1.038418 -1.013485
          A         B         C         D         E
a  1.256430 -1.062555  1.085256 -1.897440  1.555424
b -1.224385  0.252329  0.571332  0.416108  0.590845
c -0.342794 -0.099671  0.846163 -0.289181  0.543275
d -0.484246  0.531083  0.251189  0.823238  1.620425
e  0.462535 -0.247102  2.021907  1.195391  1.279873
f  0.410860  0.081339  0.280267 -0.680470  1.250572
g -0.046882 -0.190329  0.382096 -0.080298 -1.007098
h -1.038418 -1.302711 -1.013485  0.208268 -0.486630
       A      B     C      D     E
a   True  False  True  False  True
b  False   True  True   True  True
          A         B         C         D         E
a  1.256430 -1.062555  1.085256 -1.897440  1.555424
b -1.224385  0.252329  0.571332  0.416108  0.590845
c -0.342794 -0.099671  0.846163 -0.289181  0.543275
d -0.484246  0.531083  0.251189  0.823238  1.620425
          C         D
b  0.571332  0.416108
c  0.846163 -0.289181
d  0.251189  0.823238
e  2.021907  1.195391

Slicing through list of values

          B         D
b  0.252329  0.416108
d  0.531083  0.823238
f  0.081339 -0.680470
          A         B         C         D         E
b -1.224385  0.252329  0.571332  0.416108  0.590845
c -0.342794 -0.099671  0.846163 -0.289181  0.543275
          B         C
a -1.062555  1.085256
b  0.252329  0.571332
c -0.099671  0.846163
d  0.531083  0.251189
e -0.247102  2.021907
f  0.081339  0.280267
g -0.190329  0.382096
h -1.302711 -1.013485
i -0.990114 -0.631490
j -0.021871  0.297310
          A         B         C         D         E
a  1.256430 -1.062555  1.085256 -1.897440  1.555424
b -1.224385  0.252329  0.571332  0.416108  0.590845
c -0.342794 -0.099671  0.846163 -0.289181  0.543275
d -0.484246  0.531083  0.251189  0.823238  1.620425
a    1.256430
b   -1.224385
c   -0.342794
d   -0.484246
e    0.462535
f    0.410860
g   -0.046882
h   -1.038418
i    1.503846
j    0.002172
Name: A, dtype: float64
a    1.256430
b   -1.224385
c   -0.342794
d   -0.484246
e    0.462535
f    0.410860
g   -0.046882
h   -1.038418
i    1.503846
j    0.002172
Name: A, dtype: float64
          A         B
a  1.256430 -1.062555
b -1.224385  0.252329
c -0.342794 -0.099671
d -0.484246  0.531083
e  0.462535 -0.247102
f  0.410860  0.081339
g -0.046882 -0.190329
h -1.038418 -1.302711
i  1.503846 -0.990114
j  0.002172 -0.021871
a   -1.062555
b    0.252329
c   -0.099671
d    0.531083
e   -0.247102
f    0.081339
g   -0.190329
h   -1.302711
i   -0.990114
j   -0.021871
Name: B, dtype: float64
          A         C         B
a  1.256430  1.085256 -1.062555
c -0.342794  0.846163 -0.099671
d -0.484246  0.251189  0.531083

c:\users\dell\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:30: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
c:\users\dell\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:31: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

###  ReIndex

In [62]:
df1 = pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])
print ("\nData Frame1\n",df1)
print ("\nData Frame2\n",df2)
df1 = df1.reindex_like(df2)
print ("\nNew Data Frame\n",df1)

#Note : Here, the df1 DataFrame is altered and reindexed like df2. The column names should be matched or else NAN will be added for the entire column label.

df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2 = pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])
print ("\nData Frame1\n",df1)
print ("\nData Frame2\n",df2)
# Padding NAN's
print (df2.reindex_like(df1))

# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill:")
print ("\nForward Fill\n",df2.reindex_like(df1,method='ffill'))
print ("\nBackward Fill\n",df2.reindex_like(df1,method='backfill'))
print ("\nNearest Fill\n",df2.reindex_like(df1,method='nearest'))

print ("Data Frame with Forward Fill limiting to 1:")
print (df2.reindex_like(df1,method='ffill',limit=2))

print ("\nRenaming Rows and Columns\n")
df1 = pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print (df1)

print ("After renaming the rows and columns:")
print (df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
index = {0 : 'Apple', 1 : 'Kiwi', 2 : 'Mango'}))

Data Frame1
        col1      col2      col3
0  0.422279 -0.629533  0.107360
1 -0.490089  1.307023 -1.018162
2  0.032124  1.830020  1.602062
3  0.197657 -0.087912  2.440728
4  0.198523  0.257174  0.617627
5 -0.513548  0.862318  1.365041
6  0.112817  0.600233  0.779806
7 -1.515176  0.804934  2.741438
8  1.180355  1.274781  0.319309
9  0.368550 -1.367241 -1.424610

Data Frame2
        col1      col2      col3
0  0.261666  0.326895 -0.219107
1  0.494894  1.243693  0.716995
2 -0.748606 -1.927809 -1.202289
3  0.340838 -0.186283 -2.119435
4 -0.808930 -0.226532 -2.089747
5  1.822316 -0.558720 -1.447709
6  1.172627  0.092825  0.833960

New Data Frame
        col1      col2      col3
0  0.422279 -0.629533  0.107360
1 -0.490089  1.307023 -1.018162
2  0.032124  1.830020  1.602062
3  0.197657 -0.087912  2.440728
4  0.198523  0.257174  0.617627
5 -0.513548  0.862318  1.365041
6  0.112817  0.600233  0.779806

Data Frame1
        col1      col2      col3
0  0.785104  1.180582  1.377794
1  0.379477 -1.282543  1.888352
2 -0.358688  0.081536  1.098190
3 -1.309467 -1.829160  0.724651
4  0.773361 -0.302017  0.170770
5 -0.211781 -0.495063 -1.163002

Data Frame2
        col1      col2      col3
0  1.945184  0.806281 -0.062670
1  1.109183  0.779886  0.171631
       col1      col2      col3
0  1.945184  0.806281 -0.062670
1  1.109183  0.779886  0.171631
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill:

Forward Fill
        col1      col2      col3
0  1.945184  0.806281 -0.062670
1  1.109183  0.779886  0.171631
2  1.109183  0.779886  0.171631
3  1.109183  0.779886  0.171631
4  1.109183  0.779886  0.171631
5  1.109183  0.779886  0.171631

Backward Fill
        col1      col2      col3
0  1.945184  0.806281 -0.062670
1  1.109183  0.779886  0.171631
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN

Nearest Fill
        col1      col2      col3
0  1.945184  0.806281 -0.062670
1  1.109183  0.779886  0.171631
2  1.109183  0.779886  0.171631
3  1.109183  0.779886  0.171631
4  1.109183  0.779886  0.171631
5  1.109183  0.779886  0.171631
Data Frame with Forward Fill limiting to 1:
       col1      col2      col3
0  1.945184  0.806281 -0.062670
1  1.109183  0.779886  0.171631
2  1.109183  0.779886  0.171631
3  1.109183  0.779886  0.171631
4       NaN       NaN       NaN
5       NaN       NaN       NaN

Renaming Rows and Columns

       col1      col2      col3
0 -0.417402 -1.582754  0.324418
1  0.983679  1.658095 -0.717610
2 -0.164497  1.706447 -2.347486
3 -0.251176 -2.110745  2.898097
4  0.319236 -1.145263  0.798985
5  0.278847 -0.876293  0.697656
After renaming the rows and columns:
             c1        c2      col3
Apple -0.417402 -1.582754  0.324418
Kiwi   0.983679  1.658095 -0.717610
Mango -0.164497  1.706447 -2.347486
3     -0.251176 -2.110745  2.898097
4      0.319236 -1.145263  0.798985
5      0.278847 -0.876293  0.697656