In [5]:
import numpy as np
a = np.genfromtxt('phone_data.csv', delimiter=',', dtype=str)
data=a[1:,:] # Remove the first row
print(data)

[['0' '15/10/14 06:58' '34.429' ... '2014-11' 'data' 'data']
 ['1' '15/10/14 06:58' '13' ... '2014-11' 'Vodafone' 'mobile']
 ['2' '15/10/14 14:46' '23' ... '2014-11' 'Meteor' 'mobile']
 ...
 ['827' '13/03/15 06:58' '34.429' ... '2015-03' 'data' 'data']
 ['828' '14/03/15 00:13' '1' ... '2015-03' 'world' 'world']
 ['829' '14/03/15 00:16' '1' ... '2015-03' 'world' 'world']]

In [10]:
#What was the longest phone call / data entry?
print ("Longest phone call / data entry?",max(np.array(data[...,2],dtype=float)))

Longest phone call / data entry? 10528.0

In [22]:
#How many seconds of phone calls are recorded in total?
a=data[np.where(data[...,3]=="call")]
sum(np.array(a[...,2],dtype=float))

92321.0

In [33]:
# How many entries are there for each month?
import collections
b=collections.Counter(data[...,4])
print(b)

Counter({'2014-11': 230, '2015-01': 205, '2014-12': 157, '2015-02': 137, '2015-03': 101})

In [41]:
# Get the first entry for each month
#Works only if the data was sort.
c=dict(b)
print(c.values())
count=0
for i in c.values():
    print(data[count])
    count=count+i

dict_values([230, 157, 205, 137, 101])
['0' '15/10/14 06:58' '34.429' 'data' '2014-11' 'data' 'data']
['230' '13/11/14 22:31' '1' 'sms' '2014-11' 'Vodafone' 'mobile']
['387' '14/12/14 15:28' '59' 'call' '2014-12' 'voicemail' 'voicemail']
['592' '14/01/15 23:35' '1' 'sms' '2015-01' 'Three' 'mobile']
['729' '12/02/15 20:15' '69' 'call' '2015-03' 'landline' 'landline']

In [21]:
# Get the sum of the durations per month
for i in np.unique(data[...,4]):
    print(i,":",sum(np.array(data[np.where((data[...,3]=="call") & (data[...,4]==i))][...,2],dtype=float)))

for i in np.unique(data[...,4]):    
    a=data[np.where((data[...,3]=="call") & (data[...,4]==i))]
    print(i,":",sum(np.array(a[...,2],dtype=float)))

2014-11 : 25547.0
2014-12 : 13561.0
2015-01 : 17070.0
2015-02 : 14416.0
2015-03 : 21727.0
2014-11 : 25547.0
2014-12 : 13561.0
2015-01 : 17070.0
2015-02 : 14416.0
2015-03 : 21727.0

In [61]:
# What is the sum of durations, for calls only, to each network
for i in np.unique(data[...,5]):
    print(i,":",sum(np.array(data[np.where((data[...,3]=="call") & (data[...,5]==i))][...,2],dtype=float)))

Meteor : 7200.0
Tesco : 13828.0
Three : 36464.0
Vodafone : 14621.0
data : 0
landline : 18433.0
special : 0
voicemail : 1775.0
world : 0

In [27]:
# How many calls, sms, and data entries are in each month?
#for i in np.unique(data[...,3]):
#    for j in np.unique(data[...,4]):
#            print(i,"on",j,":",sum(np.array(data[np.where((data[...,3]==i) & (data[...,4]==j))][...,2],dtype=float)))
            
for i in np.unique(data[...,3]):      
    for j in np.unique(data[...,4]):
        a=data[np.where((data[...,3]==i) & (data[...,4]==j))]
        print(i,":",j,"-",sum(np.array(a[...,2],dtype=float)))

call : 2014-11 - 25547.0
call : 2014-12 - 13561.0
call : 2015-01 - 17070.0
call : 2015-02 - 14416.0
call : 2015-03 - 21727.0
data : 2014-11 - 998.4409999999995
data : 2014-12 - 1032.8699999999994
data : 2015-01 - 1067.2989999999995
data : 2015-02 - 1067.2989999999995
data : 2015-03 - 998.4409999999995
sms : 2014-11 - 94.0
sms : 2014-12 - 48.0
sms : 2015-01 - 86.0
sms : 2015-02 - 39.0
sms : 2015-03 - 25.0

In [72]:
# How many calls, texts, and data are sent per month, split by network?
for i in np.unique(data[...,3]):
    for j in np.unique(data[...,4]):
        for k in np.unique(data[...,5]):
            print(i,"on",j,"to",k,":",sum(np.array(data[np.where((data[...,3]==i) & (data[...,4]==j) & (data[...,5]==k))][...,2],dtype=float)))

call on 2014-11 to Meteor : 1521.0
call on 2014-11 to Tesco : 4045.0
call on 2014-11 to Three : 12458.0
call on 2014-11 to Vodafone : 4316.0
call on 2014-11 to data : 0
call on 2014-11 to landline : 2906.0
call on 2014-11 to special : 0
call on 2014-11 to voicemail : 301.0
call on 2014-11 to world : 0
call on 2014-12 to Meteor : 2010.0
call on 2014-12 to Tesco : 1819.0
call on 2014-12 to Three : 6316.0
call on 2014-12 to Vodafone : 1302.0
call on 2014-12 to data : 0
call on 2014-12 to landline : 1424.0
call on 2014-12 to special : 0
call on 2014-12 to voicemail : 690.0
call on 2014-12 to world : 0
call on 2015-01 to Meteor : 2207.0
call on 2015-01 to Tesco : 2904.0
call on 2015-01 to Three : 6445.0
call on 2015-01 to Vodafone : 3626.0
call on 2015-01 to data : 0
call on 2015-01 to landline : 1603.0
call on 2015-01 to special : 0
call on 2015-01 to voicemail : 285.0
call on 2015-01 to world : 0
call on 2015-02 to Meteor : 1188.0
call on 2015-02 to Tesco : 4087.0
call on 2015-02 to Three : 6279.0
call on 2015-02 to Vodafone : 1864.0
call on 2015-02 to data : 0
call on 2015-02 to landline : 730.0
call on 2015-02 to special : 0
call on 2015-02 to voicemail : 268.0
call on 2015-02 to world : 0
call on 2015-03 to Meteor : 274.0
call on 2015-03 to Tesco : 973.0
call on 2015-03 to Three : 4966.0
call on 2015-03 to Vodafone : 3513.0
call on 2015-03 to data : 0
call on 2015-03 to landline : 11770.0
call on 2015-03 to special : 0
call on 2015-03 to voicemail : 231.0
call on 2015-03 to world : 0
data on 2014-11 to Meteor : 0
data on 2014-11 to Tesco : 0
data on 2014-11 to Three : 0
data on 2014-11 to Vodafone : 0
data on 2014-11 to data : 998.4409999999995
data on 2014-11 to landline : 0
data on 2014-11 to special : 0
data on 2014-11 to voicemail : 0
data on 2014-11 to world : 0
data on 2014-12 to Meteor : 0
data on 2014-12 to Tesco : 0
data on 2014-12 to Three : 0
data on 2014-12 to Vodafone : 0
data on 2014-12 to data : 1032.8699999999994
data on 2014-12 to landline : 0
data on 2014-12 to special : 0
data on 2014-12 to voicemail : 0
data on 2014-12 to world : 0
data on 2015-01 to Meteor : 0
data on 2015-01 to Tesco : 0
data on 2015-01 to Three : 0
data on 2015-01 to Vodafone : 0
data on 2015-01 to data : 1067.2989999999995
data on 2015-01 to landline : 0
data on 2015-01 to special : 0
data on 2015-01 to voicemail : 0
data on 2015-01 to world : 0
data on 2015-02 to Meteor : 0
data on 2015-02 to Tesco : 0
data on 2015-02 to Three : 0
data on 2015-02 to Vodafone : 0
data on 2015-02 to data : 1067.2989999999995
data on 2015-02 to landline : 0
data on 2015-02 to special : 0
data on 2015-02 to voicemail : 0
data on 2015-02 to world : 0
data on 2015-03 to Meteor : 0
data on 2015-03 to Tesco : 0
data on 2015-03 to Three : 0
data on 2015-03 to Vodafone : 0
data on 2015-03 to data : 998.4409999999995
data on 2015-03 to landline : 0
data on 2015-03 to special : 0
data on 2015-03 to voicemail : 0
data on 2015-03 to world : 0
sms on 2014-11 to Meteor : 10.0
sms on 2014-11 to Tesco : 3.0
sms on 2014-11 to Three : 25.0
sms on 2014-11 to Vodafone : 55.0
sms on 2014-11 to data : 0
sms on 2014-11 to landline : 0
sms on 2014-11 to special : 1.0
sms on 2014-11 to voicemail : 0
sms on 2014-11 to world : 0
sms on 2014-12 to Meteor : 12.0
sms on 2014-12 to Tesco : 1.0
sms on 2014-12 to Three : 13.0
sms on 2014-12 to Vodafone : 18.0
sms on 2014-12 to data : 0
sms on 2014-12 to landline : 0
sms on 2014-12 to special : 0
sms on 2014-12 to voicemail : 0
sms on 2014-12 to world : 4.0
sms on 2015-01 to Meteor : 10.0
sms on 2015-01 to Tesco : 3.0
sms on 2015-01 to Three : 33.0
sms on 2015-01 to Vodafone : 40.0
sms on 2015-01 to data : 0
sms on 2015-01 to landline : 0
sms on 2015-01 to special : 0
sms on 2015-01 to voicemail : 0
sms on 2015-01 to world : 0
sms on 2015-02 to Meteor : 1.0
sms on 2015-02 to Tesco : 2.0
sms on 2015-02 to Three : 11.0
sms on 2015-02 to Vodafone : 23.0
sms on 2015-02 to data : 0
sms on 2015-02 to landline : 0
sms on 2015-02 to special : 2.0
sms on 2015-02 to voicemail : 0
sms on 2015-02 to world : 0
sms on 2015-03 to Meteor : 0
sms on 2015-03 to Tesco : 4.0
sms on 2015-03 to Three : 5.0
sms on 2015-03 to Vodafone : 13.0
sms on 2015-03 to data : 0
sms on 2015-03 to landline : 0
sms on 2015-03 to special : 0
sms on 2015-03 to voicemail : 0
sms on 2015-03 to world : 3.0